<!-- date picker -->
<!-- <div class="col-xs-12 col-sm-6"> -->

  <div class="form-group psn-form-group input-append date" data-date-format="dd-mm-yyyy">
    <label for="insurance">Choose date</label>
    <input id="datepicker" class="form-control" size="16" type="text" readonly="">
    <span class="add-on"><a id="dp-btn" href="#0" ><i class="fa fa-calendar fa-lg"></i></a></span>
  </div>
</div>

<!-- time picker -->
<!-- <div class="col-xs-12 col-sm-6"> -->
  <div class="form-group psn-form-group time">
    <label for="time">Time</label>
    <select class="form-control hours" name="hours">
      <option>01</option>
      <option>02</option>
      <option>03</option>
      <option>04</option>
    </select>
    <div class="time-dots">
      :
    </div>
    <select class="form-control hours" name="min">
      <option>00</option>
      <option>02</option>
      <option>03</option>
      <option>04</option>
    </select>

    <select class="form-control day" name="day">
      <option>AM</option>
      <option>PM</option>
    </select>

  </div>

</div>
