/*********************************************************

Project Name: Website Bootstrap boilerplate
Project Description:
File Name: Master Sass file
Author: Spencer Bigum, Casey Jardin
Author URL:
Version: 1.0.0

*********************************************************/
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
@import url("http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic");
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #070d3f;
}
a:hover {
  text-decoration: none;
}

.psn-container {
  max-width: 1170px;
  margin: 0 auto;
}

.psn-container-nav {
  padding: 96px 0 0 0;
  max-width: 1170px;
  margin: 0 auto;
}

.psn-container-lg {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.psn-container-outer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.psn-container-inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #070d3f;
  font-size: 18px;
  letter-spacing: 10px;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 40px;
  line-height: 28px;
}

h3 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 25px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
}

.intro-text {
  padding: 0 30px;
  margin-bottom: 60px;
}

.psn-content-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}

.inner-wrapper {
  margin-bottom: 50px;
  padding: 0;
}

@media (min-width: 768px) {
  .psn-container-inner {
    padding: 0 60px;
  }

  .intro-text {
    padding: 0 60px;
    margin-bottom: 60px;
  }

  .inner-wrapper {
    margin-bottom: 50px;
  }
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0;
}

.img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.no-headline {
  margin-top: 63px;
}

.doc-md {
  font-weight: 400;
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.text-gold {
  color: #a99781;
}

.gold-bg {
  background-color: #a99781;
}

.white-bg {
  background-color: #fff;
}

.tan-bg {
  background-color: #ddd1c5;
}

.blue-bg {
  background-color: #070d3f;
}

.gradient-top {
  width: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
  height: 200px;
  top: 0;
}

.gradient-bottom {
  width: 100%;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
  height: 200px;
  bottom: 0;
}

.gradient-bottom-projects {
  width: 100%;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
  height: 33%;
  bottom: 0;
}

.psn-header {
  background-color: #27459b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF27459B', endColorstr='#FF121540');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI3JSIgc3RvcC1jb2xvcj0iIzI3NDU5YiIvPjxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjMTIxNTQwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(7%, #27459b), color-stop(90%, #121540));
  background-image: -moz-linear-gradient(left bottom, #27459b 7%, #121540 90%);
  background-image: -webkit-linear-gradient(left bottom, #27459b 7%, #121540 90%);
  background-image: linear-gradient(to right top, #27459b 7%, #121540 90%);
}

.psn-header-wrapper a {
  display: table;
  margin: 0 auto;
}

.psn-title {
  color: #fff;
}

.psn-logo img {
  margin: 0 auto;
}

.psn-nav-home {
  background-color: transparent;
}

.psn-nav-content {
  list-style: none;
}
.psn-nav-content .psn-secondary-nav {
  list-style: none;
}

.psn-nav {
  background-color: #fff;
  height: 96px;
}
.psn-nav .navbar-nav {
  padding-top: 41px;
}
.psn-nav .navbar-header {
  padding-left: 20px;
}

.psn-navbar-nav {
  float: right;
}

.psn-border {
  border-color: #a99781;
  border-width: 0 0 5px;
}

.navbar-brand img {
  max-width: 200px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}
footer {
  padding: 0 0 40px 0 !important;
}

.footer-wrapper {
  padding-top: 40px;
}

.footer-logo {
  max-width: 433px;
  padding: 24px 64px 30px;
  margin: 0 auto;
}
.footer-logo img {
  margin: 0 auto;
}

.footer-contact {
  color: #fff;
}
.footer-contact a {
  color: #fff;
}
.footer-contact .contact-wrapper {
  text-align: center;
}

.footer-contact {
  display: block;
  padding-top: 0;
}
.footer-contact .phone, .footer-contact .location, .footer-contact .fax {
  display: block;
  text-align: center;
  padding: 20px 20px;
  border-right: 0;
}
.footer-contact .phone:hover, .footer-contact .location:hover, .footer-contact .fax:hover {
  color: #a99781;
}
.footer-contact p {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 0;
}
.footer-contact .fa {
  display: block;
  padding-right: 0;
  padding-bottom: 15px;
}
.footer-contact .fax {
  border-right: 0;
}

.newsletter-signup {
  color: #fff;
  width: 100%;
  display: block;
  margin-top: 40px;
  text-align: center;
}
.newsletter-signup label {
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 10px;
}
.newsletter-signup input {
  background-color: transparent;
  color: #fff;
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px soild #fff;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
.newsletter-signup input:focus {
  outline: 0;
  box-shadow: 0;
  border-color: #a99781;
}

.social-footer-wrapper {
  margin-top: 50px;
}
.social-footer-wrapper a {
  margin: 0 15px;
}
.social-footer-wrapper .social {
  text-align: center;
  margin-bottom: 40px;
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.footer-info-bar {
  padding: 0;
  display: block;
  width: 100%;
  background-color: #ddd1c5;
  border-top: 3px solid #a99781;
  text-align: center;
}
.footer-info-bar .appointment, .footer-info-bar .request-info, .footer-info-bar .bill-pay {
  display: block;
  padding: 15px 15px;
  color: #746450;
  border-bottom: 1px solid #a99781;
}
.footer-info-bar .appointment:hover, .footer-info-bar .request-info:hover, .footer-info-bar .bill-pay:hover {
  color: #070d3f;
}
.footer-info-bar .appointment p, .footer-info-bar .request-info p, .footer-info-bar .bill-pay p {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 0;
}
.footer-info-bar .fa {
  display: inline-block;
  padding-right: 5px;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .footer-wrapper {
    padding: 40px 30px 0;
  }

  .footer-info-bar {
    padding: 15px 0;
  }
  .footer-info-bar .appointment, .footer-info-bar .request-info, .footer-info-bar .bill-pay {
    display: inline-block;
    padding: 0 15px;
    border-bottom: 0;
  }

  .newsletter-signup {
    margin-top: 70px;
  }

  .footer-logo {
    padding: 24px 64px 64px;
  }

  .footer-contact {
    display: block;
    padding-top: 5px;
  }
  .footer-contact .phone, .footer-contact .location, .footer-contact .fax {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 15px;
    border-right: 1px solid #fff;
  }
  .footer-contact .fa {
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 0;
  }
  .footer-contact .fax {
    border-right: 0;
  }

  .social-footer-wrapper {
    margin-top: 80px;
  }
  .social-footer-wrapper a {
    margin: 0 15px 0 0;
  }
  .social-footer-wrapper .social {
    text-align: left;
    margin-bottom: 0;
  }

  .copyright {
    text-align: right;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
  }
}
@media (min-width: 992px) {
  .footer-wrapper {
    padding: 40px 0 0;
  }

  .newsletter-signup {
    text-align: left;
    margin-top: 40px;
  }
  .newsletter-signup input {
    text-align: left;
  }
}
.psn-sidebar-wrapper {
  position: relative;
}
.psn-sidebar-wrapper .sidebar-title {
  text-align: center;
  color: #00237d;
}
.psn-sidebar-wrapper h2 {
  margin: 60px auto;
  color: #00237d;
}
.psn-sidebar-wrapper a {
  display: block;
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid #c8bdae;
  font-size: 18px;
  font-weight: 600;
  color: #00237d;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.psn-sidebar-wrapper a:hover {
  color: #fff;
  background-color: #a99781;
}

.overlap-above p:nth-last-child(1) {
  padding-bottom: 40px;
}

.overlap-bottom-wrapper {
  height: auto;
  position: relative;
  padding: 0;
}

.overlap-below {
  padding: 5px 0;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}

.below-content {
  padding: 0 60px;
  top: 0;
  position: relative;
}

.doctor-wrapper {
  display: table;
}
.doctor-wrapper .doctor-portrait {
  padding-bottom: 30px;
  color: #070d3f;
}
.doctor-wrapper .doctor-portrait img {
  max-width: 180px;
  margin: 0 auto;
}
.doctor-wrapper .doctor-portrait h4 {
  margin-top: 15px;
  font-weight: 600;
}

.psn-group {
  margin-bottom: 0;
  background-color: transparent;
}
.psn-group .psn-panel {
  border-radius: 0;
  border: none;
}
.psn-group .psn-heading {
  background-color: #a99781;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  height: 37px;
}
.psn-group .psn-title {
  font-weight: 400;
  letter-spacing: 4px;
}
.psn-group .psn-title span {
  padding: 0 20px;
}
.psn-group .psn-title a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 8px 0 0 10px;
}
.psn-group .psn-title a:focus {
  text-decoration: none;
  outline: 5px auto #ddd1c5;
}
.psn-group .psn-title a::before, .psn-group .psn-title a::after {
  content: '';
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  height: 1px;
  width: 20px;
  right: 15px;
  background: #fff;
  -webkit-transition: transform 0.3s 0s;
  -o-transition: transform 0.3s 0s;
  transition: transform 0.3s 0s;
}
.psn-group .psn-title .collapsed::after {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.psn-group .psn-body {
  padding: 0;
  overflow: hidden;
  border-top: none !important;
}
.psn-group .psn-panel-img {
  position: relative;
  display: none;
}
.psn-group .psn-panel-img img {
  position: absolute;
  max-width: 131%;
  left: -54px;
}
.psn-group .psn-panel-desc {
  background-color: #fff;
  padding: 0 40px;
}
.psn-group .psn-panel-desc .title {
  color: #a99781;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 0;
}
.psn-group .psn-panel-desc p {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
}

.affiliate-wrapper img {
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .psn-group .psn-panel-img {
    display: block;
  }

  .overlap-bottom-wrapper {
    height: auto;
    position: relative;
    padding: 0 15px;
  }

  .psn-group .psn-panel-img img {
    max-width: 167%;
    left: -125px;
  }
}
@media (min-width: 992px) {
  .overlap-above p:nth-last-child(1) {
    padding-bottom: 280px;
  }

  .below-content {
    padding: 0 60px;
    top: -215px;
    position: absolute;
  }

  .overlap-bottom-wrapper {
    height: 625px;
    position: relative;
  }

  .psn-group .psn-panel-img img {
    max-width: 131%;
    left: -54px;
  }
}
.header-image {
  position: relative;
  max-height: 780px;
}

.doctor-name {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 80%;
  background-color: #ffa519;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFA519', endColorstr='#FFFF1E1E');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmYTUxOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMWUxZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(1%, #ffa519), color-stop(100%, #ff1e1e));
  background-image: -moz-linear-gradient(left, #ffa519 1%, #ff1e1e 100%);
  background-image: -webkit-linear-gradient(left, #ffa519 1%, #ff1e1e 100%);
  background-image: linear-gradient(to right, #ffa519 1%, #ff1e1e 100%);
}
.doctor-name h2 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 18px;
  margin-left: 30px;
}

.info-block {
  border-top: 1px solid #b0c6ff;
  margin-bottom: 30px;
  display: table;
}
.info-block .desc {
  margin-bottom: 30px;
}
.info-block .video-desc {
  margin: 30px 0;
}

@media (min-width: 768px) {
  .doctor-name {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 80%;
  }
  .doctor-name h2 {
    margin: 0;
    padding: 20px 0;
    color: #fff;
    font-size: 24px;
    margin-left: 60px;
  }
}
