// ==========================================================================
// Global Base Settings override
// ==========================================================================

body{
font-family:$roboto;
}

a{

	color:$polaris-blue;

	&:hover{
		text-decoration: none;
	}
}


.psn-container{
	max-width:1170px;
	margin:0 auto;
}

.psn-container-nav{
	// margin-top:96px;
	padding:96px 0 0 0;
	max-width:1170px;
	margin:0 auto;
}

.psn-fluid-nav{
	// margin-top:96px;
	padding:96px 0 0 0;
}

.psn-fluid-inner{
	margin:60px 0;
	padding:0;
}
//
// .psn-fluid-770{
// 	max-width: 770px;
// 	width:100%;
// 	margin: 0 auto;
// }

.psn-container-lg{
	position:relative;
	width:100%;
	max-width:1200px;
	height:100%;
	margin:0 auto;
}

.psn-container-outer{
	width:100%;
	max-width:900px;
	margin:0 auto;
}

.psn-container-inner{
	max-width:900px;
	margin:0 auto;
	padding:0 30px;
}

.psn-content-wrapper{
	position:relative; 
	width:100%;
	max-width:900px;
	margin:0 auto;
	height:100%;
}

.inner-wrapper{
	margin-bottom:50px;
	padding:0;
}

.content-wrapper{
  padding:0 60px;
}

.blue-border{
	padding-top:10px;
	border-top:1px solid lighten($blue, 50%);
}

//Header option 1
.header-starburst{
	margin:0 auto;
	width:100%;

	img{
		margin:0 auto;
		max-width: 450px;
		width:100%;
	}
}

.blue-header{

		h2{
			text-align: center;
			font-size: 24px;
			color:$white;
			font-weight: 400;
		}
}
h2{
	text-transform:uppercase;
	letter-spacing:2px;
	color:$polaris-blue;
	font-size:18px;
	letter-spacing:$letterspace;
	font-weight:600;
	margin-top:35px;
	margin-bottom:40px;
	line-height:28px;
}

h3{
	font-size:36px;
	font-weight:300;
	margin-bottom:25px;
}

h4{
	font-size: 34px;
	font-weight: 300;
	color:$gold;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin:0;
	line-height: 41px;
}

h5{

}


p{
	font-size:$base__font-size;
	font-weight:300;
	line-height:24px;
	color:$dk-gold;
}

.intro-text{
	padding:0 30px;
	margin-bottom:60px;
}


@include breakpoint(tablet){

	.psn-container-inner{
		padding:0 60px;
	}

	.intro-text{
		padding:0 60px;
		margin-bottom:60px;
	}

	.inner-wrapper{
		margin-bottom:50px;
	}



}

@include breakpoint(laptop){



}
