// ==========================================================================
// Global Base Settings override
// ==========================================================================

body{
font-family:$roboto;
}

a{

	color:$polaris-blue;

	&:hover{
		text-decoration: none;
		color:$link-hover;
	}
}


.psn-container{
	max-width:1170px;
	margin:0 auto;
}

.psn-container-nav{
	padding:75px 0 0 0;
	max-width:1170px;
	margin:0 auto;
}

.psn-fluid-nav{
	padding:75px 0 0 0;
}

.psn-fluid-inner{
	margin:30px 0;
	padding:0;
}

.psn-container-lg{
	position:relative;
	width:100%;
	max-width:1200px;
	height:100%;
	margin:0 auto;
}

.psn-container-outer{
	width:100%;
	max-width:900px;
	margin:0 auto;
}

.psn-container-inner{
	max-width:900px;
	margin:0 auto;
	padding:0 30px;

	.desc{
		h2:first-of-type{
		  color:$blue;
		  letter-spacing: initial;
		  margin: 10px 0 15px;
		}

	  	h2{
		  color:$blue;
		  letter-spacing: initial;
		  margin-bottom: 10px;
		  line-height: 24px;
		}

		a{
			color:$blue;

			&:hover{
				color:$link-hover;
			}
		}

	  	h3:first-child {
		  font-size:28px;
		  margin-top: 0;
		  margin-bottom: 0;
		  line-height: 32px;
		}

	}
}

.psn-content-wrapper{
	position:relative;
	width:100%;
	max-width:900px;
	margin:0 auto;
	height:100%;
  	display: table;

  &.inner{
	padding:0px;
  }
}

.inner-wrapper{
	margin-bottom:50px;
	padding:0;
}

.content-wrapper{
  padding:0 60px;
}

.content-wrapper-970{
	max-width: 970px;
	width:100%;
	margin:0 auto;
	padding:0;
}

.blue-border{
	padding-top:10px;
	border-top:1px solid lighten($blue, 50%);
	margin-bottom:35px;
}

//Header option 1
.header-starburst{
	margin:0 auto;
	width:100%;

	img{
		margin:0 auto;
		max-width: 450px;
		width:100%;
	}
}

.blue-header{

		h2{
			text-align: center;
			font-size: 24px;
			color:$white;
			font-weight: 400;
		  	margin: 40px 15px 35px;
		}
}

h2{
	text-transform:uppercase;
	color:$polaris-blue;
	font-size:18px;
	letter-spacing:$letterspace;
	font-weight:600;
	margin-top:35px;
	margin-bottom:20px;
	line-height:28px;
}

h3{
	font-size:28px;
	font-weight:300;
	margin-bottom:25px;
	line-height: 32px;
	color:$gold;
}

h4{
	font-size: 24px;
	font-weight: 300;
	color:$gold;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin:0;
	line-height: 41px;
}

h5{
	font-size: 18px;
	font-weight: 500;
	color:$blue;
}


p{
	font-size:$base__font-size;
	font-weight:300;
	line-height:24px;
	color:$dk-gold;
}

.intro-text{
	padding:0 15px;
	margin-bottom:60px;
}


@include breakpoint(tablet){

  h2{
	margin-bottom:40px;
  }

  h3{
	font-size:36px;
	line-height: 44px;
  }

  h4{
	font-size: 34px;
  }

	.psn-container-nav{
	  padding:92px 0 0 0;
	}

	.psn-fluid-inner{
	  margin:60px 0;
	  padding:0;
	}

	.psn-container-inner{
		padding:0 60px;

	  .desc{
		& h2:first-of-type {
		  margin: 30px 0 10px;
		}

		& h3:first-of-type {
		  font-size:36px;
		  line-height: 44px;
		}
	  }
	}

	.intro-text{
		padding:0 30px;
	}

	.inner-wrapper{
	  margin-bottom:50px;
	  padding:0 15px;
	}

	.psn-content-wrapper{
	  position:relative;
	  width:100%;
	  max-width:900px;
	  margin:0 auto;
	  height:100%;

	  &.inner{
		padding:0 15px;
	  }
	}

	.psn-fluid-nav{
	  padding:92px 0 0 0;
	}

}

@include breakpoint(laptop){

  .intro-text{
	padding:0 60px;
  }

  .inner-wrapper{
	margin-bottom:50px;
	padding:0px;
  }

}
