// ==========================================================================
// Helper Classes
// ==========================================================================

.text-hide{
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.no-padding{
  padding:0 !important;
}

.no-margin{
  margin: 0;
}

.img-replace { /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.no-headline{
  padding-top:63px;

}

.doc-md{
  font-weight: 400;
  text-transform: uppercase;
}

//
//.pull-left {
//  float: left !important;
//}
//.pull-right {
//  float: right !important;
//}



.text-white{
  color:$white;
}

.text-gold{
  color:$dk-gold;
}

.gold-bg{
  background-color:$gold;
}

.white-bg{
  background-color:$white;
}

.tan-bg{
  background-color:$tan;
}

.blue-bg{
  background-color:$polaris-blue;
}

$top:-80px;
.float-box-1{
  position: absolute;
  top:$top;
  left:0;
  width:55%;
  z-index: 3;
  //shadow-color.Rectangle_18_copy {
  background-color: rgb( 255, 255, 255 );
  box-shadow: 6px 6px 32px 0px rgba( 0, 0, 0, .3 );
  // position: absolute;
  // left: 96px;
  // top: 503px;
  // width: 527px;
  // height: 526px;
  // z-index: 12;

}

.float-box-2{
  position: relative;
  width:45%;
  float: right;
  z-index: 1;
}

.gradient-bg-1{
  // Needs latest Compass, add '@import "compass"' to your scss
  // Permalink - use to edit and share this gradient:
  // http://colorzilla.com/gradient-editor/#111440+0,022eaa+100
  background-color: #111440; // Old browsers
  @include filter-gradient(#111440, #022eaa, horizontal); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(left, #111440 0%,#022eaa 100%));
}

.gradient-bg-img, .blue-header{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width:100%;
  height: 100%;
}

// TODO: Make gradient class more modular
@mixin gradient($direction, $height){
  width:100%;
  position:absolute;
  background:linear-gradient(to $direction,rgba(0,0,0,.65)0,rgba(0,0,0,0)100%);
  z-index:0;
  height:$height;
  @content;
}

.gradient-top{
  @include gradient(bottom, 200px);
  top:0;
}

.gradient-bottom{
  @include gradient(top, 200px);
  bottom:0;
}

.gradient-bottom-projects{
  @include gradient(top, 33%);
  bottom:0;
  // margin:0 .75rem .75rem .75rem;
}

.detail-divider{
	margin-bottom:30px;
}

// ==========================================================================
// Button Classes
// ==========================================================================

.btn-primary {
  color: #fff;
  background-color: $gold;
  border-color: $gold;

  &:hover, &.active {
    background-color: $tan;
    border-color: $tan;
    box-shadow: none;
  }
}
