<!-- logo header -->
<div class="container-fluid psn-fluid-nav blue-header" style="background-image:url('{{'header-bg.jpg' | asset_url'}}');">
	<!-- <div class="header-starburst">
		<img class="img-responsive" src="{{'starburst-header.png' | asset_url}}" alt="" />
	</div> -->

	{% if mixture.url == "about-overview" %}
	   <h2>Overview</h2>
	{% endif %}

	{% if mixture.url == "service-details" %}
	   <h2>Spine</h2>
	{% endif %}

	{% if mixture.url == "facilities" %}
	   <h2>Facilities</h2>
	{% endif %}

	{% if mixture.url == "team" %}
	   <h2>Meet our Team</h2>
	{% endif %}

	{% if mixture.url == "hospitals" %}
	   <h2>Hospitals</h2>
	{% endif %}

	{% if mixture.url == "faq" %}
	   <h2>Frequently Asked Questions</h2>
	{% endif %}

	{% if mixture.url == "locations" %}
	   <h2>Locations</h2>

		 <!-- <nav class="navbar navbar-default psn-nav-locations psn-border">
	 		<div class="container">
	 			<ul class="nav navbar-nav">
	 				<li class="dropdown"><a href="#" class="psn-dropdown" id="locationOne">Atlanta Office</a></li>
	 				<li class="dropdown"><a href="#" class="psn-dropdown" id="locationTwo">Cumming Office</a></li>
	 				<li class="dropdown"><a href="#" class="psn-dropdown" id="locationThree">Buckhead Office</a></li>
	 				<li class="dropdown"><a href="#" class="psn-dropdown" id="locationFour">Canton/Cherokee Office</a></li>
	 			</ul>
	 		</div>
	 	</nav> -->

		<div class="locations-navbar psn-nav-locations">
			<div class="container">
				<ul id="location-nav" class="nav-locations">
					<li class="dropdown"><a href="#" class="location-btn" id="locationOne">Atlanta Office</a>
						<div class="visible-xs">
							<ul class="mobile-address">
								<li>Perimeter Town Center</li>
								<li>1150 Hammond Dr Bldg E</li>
								<li>Suite 400</li>
								<li>Atlanta, GA 30328</li>
								<li><a href="tel:4044455581">404.445.5581</a></li>
							</ul>
							<a class="btn btn-default btn-sm" href="#" target="blank">Get Directions</a>
						</div>
					</li>
					<li class="dropdown"><a href="#" class="location-btn" id="locationTwo">Cumming Office</a>
						<div class="visible-xs">
							<ul class="mobile-address">
								<li>Perimeter Town Center</li>
								<li>1150 Hammond Dr Bldg E</li>
								<li>Suite 400</li>
								<li>Atlanta, GA 30328</li>
								<li><a href="tel:4044455581">404.445.5581</a></li>
							</ul>
							<a class="btn btn-default btn-sm" href="#" target="blank">Get Directions</a>
						</div>
					</li>
					<li class="dropdown"><a href="#" class="location-btn" id="locationThree">Buckhead Office</a>
						<div class="visible-xs">
							<ul class="mobile-address">
								<li>Perimeter Town Center</li>
								<li>1150 Hammond Dr Bldg E</li>
								<li>Suite 400</li>
								<li>Atlanta, GA 30328</li>
								<li><a href="tel:4044455581">404.445.5581</a></li>
							</ul>
							<a class="btn btn-default btn-sm" href="#" target="blank">Get Directions</a>
						</div>
					</li>
					<li class="dropdown"><a href="#" class="location-btn" id="locationFour">Canton/Cherokee Office</a>
						<div class="visible-xs">
							<ul class="mobile-address">
								<li>Perimeter Town Center</li>
								<li>1150 Hammond Dr Bldg E</li>
								<li>Suite 400</li>
								<li>Atlanta, GA 30328</li>
								<li><a href="tel:4044455581">404.445.5581</a></li>
							</ul>
							<a class="btn btn-default btn-sm" href="#" target="blank">Get Directions</a>
						</div>
					</li>
				</ul>
			</div>
		</div>

	{% endif %}

	{% if mixture.url == "insurance-info" %}
		 <h2>Insurance Information</h2>
	{% endif %}

	{% if mixture.url == "make-appointment" %}
		 <h2>Request an Appointment</h2>
	{% endif %}

	{% if mixture.url == "second-opinions" %}
		 <h2>Second Opinions</h2>
	{% endif %}

	{% if mixture.url == "newsletter" %}
		 <h2>Newsletter</h2>
	{% endif %}

	{% if mixture.url == "conditions-details" %}
	   <h2>Condition Details</h2>
	{% endif %}

	{% if mixture.url == "service" %}

		 <h2>Spine Services</h2>
	{% endif %}

	{% if mixture.url == "conditions" %}

		 <h2>Conditions</h2>
	{% endif %}

	{% if mixture.url == "news" %}
		 <h2>News</h2>
	{% endif %}


</div>
