<footer class="container-fluid blue-bg">

	<div class="row psn-container-lg">
		

			<!-- left -->
			<div class="col-xs-12 col-md-6">
				<div class="footer-logo">
					<img class="img-responsive" src="{{'footer-logo.jpg' | asset_url'}}" alt="">
				</div>

				<div class="footer-contact">
					<div class="contact-wrapper">
						<div class="phone">
							<i class="fa fa-phone fa-lg"></i>
							<a href="">Phone: 404-444-4444</a>
						</div>
						<div class="location">
							<i class="fa fa-map-marker fa-lg"></i>
							<a href="">Our Location</a>
						</div>
						<div class="fax">
							<i class="fa fa-fax fa-lg"></i>
							<a href="">Fax: 404-444-4444</a>
						</div>
					</div>
				</div>
			</div>

			<!-- right -->
			<div class="col-xs-12 col-md-6">
				<div class="newsletter-signup">
					<form>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Sign up for our newsletter</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your Email">
					  </div>
					</form>
				</div>
				
				<div class="social-footer-wrapper">

					<div class="col-xs-12 col-sm-6">
						<div class="social">
							<a href=""><img src="{{'facebook.jpg' | asset_url'}}" alt=""></a>
							<a href=""><img src="{{'facebook.jpg' | asset_url'}}" alt=""></a>
							<a href=""><img src="{{'facebook.jpg' | asset_url'}}" alt=""></a>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6">
						<div class="copyright">
							copyright
						</div>
					</div>
					
				</div>
				

			</div>

	</div>
</footer>