<header>
	<nav class="navbar navbar-default navbar-fixed-top psn-nav psn-border">
		<div class="container-fluid text-center">
			<img src="{{'nav.jpg' | asset_url}}" alt="">
		</div>
	</nav>
</header>