<header class="psn-header">
	<div class="psn-header-wrapper">
		<a href="#">
			<div class="psn-logo">
				<img class="img-responsive" src="{{'starburst.png' | asset_url}}" alt="">
			</div>
			<div class="psn-title text-center">
				<h1>Polaris</h1>
				<h3>Spine & Neurosurgery Center</h3>
			</div>
		</a>
	</div>

	<nav class="navbar navbar-default psn-nav-home psn-border">
		<div class="container-fluid text-center">
			<img src="{{'homepage-nav.png' | asset_url}}" alt="">
		</div>
	</nav>
</header>