<header>
	<nav class="navbar navbar-default navbar-fixed-top psn-nav psn-border">
		<div class="container-fluid psn-container no-padding">


			<div class="navbar-header">

			<!-- responsive hamburger -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>

			<!-- nav-logo -->
	      <a class="navbar-brand" href="/">
	        <img alt="Polaris" src="{{ 'polaris--logo-h.png' | asset_url }}">
	      </a>
	    </div>

	    <!-- nav-contents -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">

						<li class="dropdown">

              <a href="#" class="psn-dropdown" >About <span class="caret"></span></a>

              <ul class="dropdown-menu">
								<li><a href="about-overview.html">Overview</a></li>
								<li><a href="team.html">Team</a></li>
								<li><a href="facilities.html">Facilities</a></li>
								<li><a href="hosptials.html">Hospitals</a></li>
              </ul>

            </li>

            <li class="dropdown">

              <a href="#" class="psn-dropdown" >Services <span class="caret"></span></a>

              <ul class="dropdown-menu">
								<li><a href="#">Spine</a></li>
								<li><a href="#">Brain</a></li>
								<li><a href="#">Spine Wellness Center</a></li>
								<li><a href="#">Outpatient Surgery Center</a></li>
								<li><a href="#">Imaging</a></li>
              </ul>

            </li>

            <li class="dropdown">

              <a href="#" class="psn-dropdown">Education <span class="caret"></span></a>

              <ul class="dropdown-menu">
								<li><a href="conditions.html">Conditions</a></li>
								<li><a href="#">Anatomy of the Spine</a></li>
								<li><a href="news.html">News</a></li>
								<li><a href="patient-stories.html">Patient Stories</a></li>
								<li><a href="faq.html">FAQ</a></li>
              </ul>

            </li>

            <li class="dropdown">

              <a href="#" class="psn-dropdown" >Connect <span class="caret"></span></a>

              <ul class="dropdown-menu">
								<li><a href="locations.html">Locations</a></li>
								<li><a href="insurance-info.html">Insurance Information</a></li>
								<li><a href="second-opinions.html">Second Opinons</a></li>
								<li><a href="newsletter.html">Newsletter</a></li>
							</ul>

            </li>

          </ul>

        </div>
		</div>
	</nav>
</header>
