footer{
	padding:0 0 40px 0 !important;
}

//info bar
.footer-info-bar{
	padding:0;
	display:block;
	width:100%;
	background-color:$tan;
	border-top: 3px solid $gold;
	text-align:center;

	.appointment, .request-info, .bill-pay{
		display: block;
		padding:15px 15px;
		color:darken($gold, 20%);
		border-bottom:1px solid $gold;

		&:hover{
			color:$link-hover;
		}

	}

	.fa{
		display: inline-block;
		padding-right:5px;
		padding-bottom:0;
	}
}

//Actual Footer
.footer-wrapper{
	padding-top:40px;
}

.footer-logo{
	padding:24px 0px 30px;
	margin:0 auto;

	img{
		max-width:200px;
		margin:0 auto;
	  	width:100%;
	}
}

.footer-contact{
	color:$white;

	a{
		color:$white;
	}
	p{
		color:$white;
	}
	.contact-wrapper{
		text-align: center;
	}
}

.footer-contact{
	display:block;
	padding-top:0;

	.phone, .location, .fax{
		display: block;
		text-align: center;
		padding: 20px 20px;
		border-right:0;

		&:hover{
			color:$link-hover;
		}
	}

	p{
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		line-height: 0;
	}

	.fa{
		padding-right:10px;
		padding-bottom:15px;
	}

	.fax{
		border-right:0;
	}
}

.newsletter-signup{
	color:$white;
	width:100%;
	display: block;
	text-align: center;

	label{
		font-weight: 300;
		font-size: 14px;
		padding-bottom:10px;
	}

	input{
		background-color: transparent;
		color:$white;
		border-radius:0;
		border-top:0;
		border-right:0;
		border-left:0;
		border-bottom:2px soild $white;
		font-weight: 300;
		font-size: 24px;
		text-align: center;
		box-shadow:none;

		&:focus{
			outline:0;
			box-shadow:none;
			border-color:$link-hover;
		}

	}
}

.social-footer-wrapper{
	margin-top:15px;

	a{
	  	display: inline-block;
		margin: 0 15px;
	}

	.social{
		text-align:center;
		margin-bottom: 40px;
	}
}

.copyright{
	text-align:center;
	color:$white;
	font-size:12px;
	font-weight:300;
}



@include breakpoint(tablet){

	.footer-logo{
	  padding:24px 64px 30px;
	  margin:0 auto;

	  img{
		max-width:200px;
		margin:0 auto;
		width:100%;
	  }
	}

	.footer-wrapper{
		padding:40px 30px 0;

	}

	.social-footer-wrapper{
	  margin-top:0px;

	  .social{
		text-align:left;
		margin-bottom: 0px;
		a{
		  margin: 0 15px;
		  padding-right:0px;
		}
	  }
  }

	.footer-info-bar{
		padding:15px 0;
		.appointment, .request-info, .bill-pay{
			display: inline-block;
			padding:0 15px;
			border-bottom:0;
		}
	}

	.footer-logo{
		padding:24px 64px 40px;
	}

	.footer-contact{
		display:block;
		margin:35px 0 50px 0;

		.phone, .location, .fax{
			display: inline-block;
			text-align: center;
			padding: 0 20px;
			border-right:1px solid $white;
		}

		.fa{
			display: inline-block;
			padding-right:10px;
			padding-bottom:0;
		}

		.fax{
			border-right:0;
		}
	}

	.newsletter-signup{
		margin-top:20px;
	}

	.copyright{
		margin-top:5px;
		text-align:right;
	}

}

@include breakpoint(laptop){

	.footer-wrapper{
		padding:40px 0 0;

		.social{
			text-align:left;
			margin-bottom:0;

			a{
				display: block;
				padding-bottom: 10px;
			}
		}
	}

	.footer-logo{
		padding:24px 64px 15px;
	}

	.footer-contact{
		margin:0;

		.contact-wrapper{
			padding:15px 0 0 80px;
			text-align: left;
		}

		.phone, .location, .fax{
			display:block;
			text-align: left;
			padding: 0 20px;
			margin-bottom:15px;
			border-right:0;
		}

		.fa{
			display: inline-block;
			padding-right:10px;
			padding-bottom:0;
		}

	}

	.newsletter-signup{
		text-align: left;
		margin-top:33px;
		padding-left: 100px;

		input{
			text-align: left;
		}
	}

	.copyright{
		text-align:center;
		margin: 20px 0 0;
	}


}

@include breakpoint(desktop){
	.footer-contact{
		margin-top:54px;

		.contact-wrapper{
			padding:0;
			text-align: right;
		}

		.phone, .location, .fax{
			display: inline-block;
			text-align: center;
			border-right:1px solid $white;
		}

		.fax{
			border-right:0;
			padding-right:0;
		}
	}

	.newsletter-signup{
		margin-top:0;
		padding-left:0;
	}

	.footer-wrapper{
		.social{
			text-align:right;
			margin-top:20px;
			a{
				display: inline-block;
				padding-left:20px;
				padding-right:0;
			  margin:0;
			}
		}
	}



	.copyright{
		text-align:left;
		margin-top:36px;
	}
}
