footer{
	padding:0 0 40px 0 !important;
}

.footer-wrapper{
	padding-top:40px;
}

.footer-logo{
	max-width:433px;
	padding:24px 64px 30px;
	margin:0 auto;
	img{
		margin:0 auto;
	}
}

.footer-contact{
	color:$white;

	a{
		color:$white;
	}
	.contact-wrapper{
		text-align: center;
	}
}

.footer-contact{
	display:block;
	padding-top:0;

	.phone, .location, .fax{
		display: block;
		text-align: center;
		padding: 20px 20px;
		border-right:0;

		&:hover{
			color:$gold;
		}
	}

	p{
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		line-height: 0;
	}

	.fa{
		display: block;
		padding-right:0;
		padding-bottom:15px;
	}

	.fax{
		border-right:0;
	}
}

.newsletter-signup{
	color:$white;
	width:100%;
	display: block;
	margin-top:40px;
	text-align: center;

	label{
		font-weight: 300;
		font-size: 14px;
		padding-bottom:10px;
	}

	input{
		background-color: transparent;
		color:$white;
		border-radius:0;
		border-top:0;
		border-right:0;
		border-left:0;
		border-bottom:2px soild $white;
		font-weight: 300;
		font-size: 24px;
		text-align: center;
		
		&:focus{
			outline:0;
			box-shadow:none;
			border-color:$gold;
		}

	}
}

.social-footer-wrapper{
	margin-top:50px;
	a{
		margin: 0 15px;
	}

	.social{
		text-align:center;
		margin-bottom: 40px;
	}
}

.copyright{
	text-align:center;
	color:$white;
	font-size:12px;
	font-weight:300;
}

//info bar
.footer-info-bar{
	padding:0;
	display:block;
	width:100%;
	background-color:$tan;
	border-top: 3px solid $gold;
	text-align:center;

	.appointment, .request-info, .bill-pay{
		display: block;
		padding:15px 15px;
		color:darken($gold, 20%);
		border-bottom:1px solid $gold;

		&:hover{
			color:$polaris-blue;
		}

		p{
			display: inline-block;
			font-size: 14px;
			font-weight: 400;
			line-height: 0;
		}
	}

	.fa{
		display: inline-block;
		padding-right:5px;
		padding-bottom:0;
	}
}

@include breakpoint(tablet){

	.footer-wrapper{
		padding:40px 30px 0;
	}

	.footer-info-bar{
		padding:15px 0;
		.appointment, .request-info, .bill-pay{
			display: inline-block;
			padding:0 15px;
			border-bottom:0;
		}
	}

	.newsletter-signup{
		margin-top:70px
	}
	.footer-logo{
		padding:24px 64px 64px;
	}

	.footer-contact{
		display:block;
		padding-top:5px;

		.phone, .location, .fax{
			display: inline-block;
			text-align: center;
			padding: 0 20px;
			margin-bottom:15px;
			border-right:1px solid $white;
		}

		.fa{
			display: inline-block;
			padding-right:10px;
			padding-bottom:0;
		}

		.fax{
			border-right:0;
		}
	}

	.social-footer-wrapper{
		margin-top:80px;

		a{
			margin: 0 15px 0 0;
		}

		.social{
			text-align:left;
			margin-bottom:0;
		}
	}

	.copyright{
		text-align:right;
		color:$white;
		font-size:12px;
		font-weight:300;
	}

}

@include breakpoint(laptop){

	.footer-wrapper{
		padding:40px 0 0;
	}

	.newsletter-signup{
		text-align: left;
		margin-top:40px;

		input{
			text-align: left;
		}
	}

	
}