
.newsletter-form{
  margin-bottom:100px;

}

.psn-form-group{
  margin-bottom:30px;

  label{
    color:$blue;
    font-weight: 300;
    font-size: 14px;
    height:38px;
    line-height: 32px;
  }

  textarea{
    height:auto;
    line-height: 24px;
  }

  &.date{
    .form-control{
      width:80%;
      display: inline-block;
    }

    .add-on{
      display: inline-block;
      position: absolute;
      top:34px;

      i{
        color:$blue;
        padding:15px;
        width:100%;
        height:100%;
      }
    }

    input{
      background-color: $white;
    }
  }

  &.time{
    display: table;
    .time-dots{
      float:left;
      padding:0 2px;
      font-weight: bold;
    }
    select{
      float:left;
      color:$blue;
    }
    label{
      display:block;
    }
  }

  .form-control{
    padding:0 12px;
    border:none;
    line-height: 24px;
    border-bottom:1px solid $blue;
    box-shadow: none;
    border-radius: 0;
    font-size: 22px;
    font-weight: 300;

    &::-webkit-input-placeholder {
    	color: #cacddc;
      font-weight: 300;
      font-size: 25px;
    }
    &::-moz-placeholder {
      color: #cacddc;
      font-weight: 300;
      font-size: 25px;
    }
    &:-moz-placeholder {   /* Older versions of Firefox */
      color: #cacddc;
      font-weight: 300;
      font-size: 25px;
    }
    &:-ms-input-placeholder {
      color: #cacddc;
      font-weight: 300;
      font-size: 25px;
    }

    &.hours{
      width:80px;
      font-size: 18px;
    }

    &.day{
      width:80px;
      font-size: 18px;
      margin-left:10px;
    }

    //AutoFIll styles

  }

  .insurance-radio{
    position:absolute;
    clip:rect(0,0,0,0);
    pointer-events:none;
  }
}

.insurance-type{
  position: relative;
  padding-top:40px;
  margin-bottom: 20px;
  display: table;

  label{
    color:$dk-gold ;
    font-size: 18px ;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 0;
    line-height: 25px;
  }

  &::before{
    content:"Type";
    position: absolute;
    font-weight: 300;
    top:0;
    left:0;
  }
}
.btn-insurance{
  color:$blue;
//  border:1px solid #D5D5D5;
  width:50%;
  float:left;
  display: inline-block;
  border-radius: 0;
  padding:7px 26.75px;
  text-align: center;
  background-color: $light-gray;

  &.active{
    background-color: #d5dcff;
    color:$polaris-blue;
  }
}

.psn-submit{
  border-radius: 0;
  background-color:$navy-blue;
  padding:10px 45px;
  color:$white;
  border:0;

  &:hover{
    color:$white;
    border:0;
    background-color: $link-hover;
  }
}

///////////////////////////
//Modal Popups
//////////////////////////
.modal-title{
    @extend h3;
  }
.modal-header{
  padding-top:40px;
  border:none;
}
.modal-body{
  padding: 0 60px 40px;

  #intro{
    padding:0 40px 20px;
  }
}

@include breakpoint(tablet) {

  .modal-body{

  }
  .psn-form-group{

    &.time {
      .time-dots {
        padding: 0 10px;
      }
    }


    .form-control {
      &.day {
        width: 80px;
        font-size: 18px;
        margin-left: 20px;
      }
    }
  }
}

@include breakpoint(laptop){

  .insurance-type {
    display: block;
    margin-bottom:40px;
  }

  .btn-insurance{
//    border:1px solid #D5D5D5 !important;
    border-left:0;
    width:100%;
    float:none;
    display: inline;

  }

}

.popover{
  padding:0;
  border-color: $blue;

  .popover-title{
    padding:5px 15px;
    background-color: $blue;
    color:$white;
  }

  &.right{
    & > .arrow{
      border-right-color:$blue;
    }
  }

  h3{
    margin:0;
    padding:0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }

  .popover-content{
    color:$dk-gold;
  }

}
