// ========================================
// Typography
// ========================================

// Desktop
h1 { 
  font-size: 95%;

  @media (min-width: $screen-sm) {
    font-size: 125%;
  }

  @media (min-width: $screen-md) {
    font-size: 150%;
  }
}

p#intro { 
  font-size: 73%;

  @media (min-width: $screen-sm) {
    font-size: 95%;
  }

  @media (min-width: $screen-md) {
    font-size: 100%;
  }
}

a {
  color: #fff;
  display: block;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

// ========================================
// MODAL STYLES
// ========================================

@media only screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
  .modal-dialog {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
  .modal.fade .modal-dialog {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    //-webkit-transform: translate3d(0, -300px, 0);
    //transform: translate3d(0, -300px, 0);
    opacity: 1;
  }
}

// Disable shadow and border radius
.modal, .modal-footer {
  text-align: center;
}

.modal-backdrop {
  z-index: 0;
}

// .modal-content {
//   border: none;
//   border-radius: 0;
//   box-shadow: none;
//   overflow: hidden;
//   padding: 20px;
// }
