$dropdown-bg-mobile: #E8E8E8;

.psn-header{
  .navbar-header{
	margin-right:0;
	margin-left:0;
  }
}

.navbar-toggle{
//	right:15px;
}
//Home page nav
.psn-nav-home{
	background-color:transparent;
	margin-bottom: 0;
}

.psn-nav-content{
	list-style:none;

	.psn-secondary-nav{
		list-style:none;
	}
}

.psn-nav-homepage{
	background-color:transparent;
	height:55px;
	margin:0 auto;
	z-index: 1030;

	position: absolute;
	bottom:-5px;
	right:0;
	border:none;
  	width:100%;

	.navbar-nav{
		margin: 0 auto;
		float:none;
		text-align: center;

		&>li{
			// display: inline-block;
			float:none;

			&>a{
				color:$blue;
				padding:15px 25px 15px 25px;

				&:focus{
					// color:$white;
				}
				&:hover{
					color:#333;
				}
			}
		}

		.dropdown-menu{
			left:0;
			border:none;
			box-shadow: none;
			padding:0;
			text-align: center;
			background-color: $dropdown-bg-mobile;

			&>li{

				&>a{
					color:$blue !important;
					padding:15px 75px !important;

				}
			}
		}

		.dropdown.open{
			&>a{
				color:$white;
				background-color: $link-hover;
			}
		}
	}

	.dropdown{
		@include transition(all .3s ease-in-out);

		&:hover{
			background-color: $white;
		}
	}



	.psn-dropdown{
		color:$white;
	}



	.dropdown-submenu>.dropdown-menu{
		margin-top: 0px !important;
		margin-left: 0;
	}

	.navbar-collapse{
		background-color: $white;
		border:0;
	  	margin:0;
	}
}

.psn-nav-locations{
	background-color:transparent;
	margin:0 auto;

	.nav-locations{
		margin: 0 auto;
		float:none;
		text-align: center;
		list-style: none;

		&>li{
			// display: inline-block;
			float:none;

			&>a{
				color:$blue;
				padding:15px 25px 15px 25px;

				&:focus{
					// color:$white;
				}
				&:hover{
					color:#333;
				}
			}
		}

		.dropdown-menu{
			left:0;
			border:none;
			box-shadow: none;
			padding:0;
			text-align: center;
			background-color: $dropdown-bg-mobile;

			&>li{

				&>a{
					color:$blue !important;
					padding:15px 75px !important;

				}
			}
		}

		.dropdown.open{
			&>a{
				color:$white;
				background-color: $link-hover;
			}
		}
	}

	.dropdown{
		@include transition(all .3s ease-in-out);

		&:hover{
			background-color: $white;
		}
	}



	.psn-dropdown{
		color:$white;
	}



	.dropdown-submenu>.dropdown-menu{
		margin-top: 0px !important;
		margin-left: 0;
	}

	.navbar-collapse{
		background-color: $white;
		border:0;
	}
}


//Inner Nav
.psn-nav{
	background-color:#fff;
	height:75px;

	.navbar-collapse{
		border:0;
	}

	.navbar-nav{
		padding-top:0;
		text-align: center;
		margin:0 -15px;
		top:-1px;

		&>li{
			// display: inline-block;
			float:none;

			//mobile styles for first dropdown
			&>a{
				color:$blue;
				padding:15px 25px 15px 25px;

				&:focus{
					color:$blue;
				}
				&:hover{
					color:$link-hover;
				}
			}
		}

		.dropdown-menu{
			padding:0;
			border:none;
			border-radius:0;
			text-align: center;
			background-color: $dropdown-bg-mobile;

			text-align: center;

			&>li{

				&>a{
					padding:15px 75px !important;
					color:$blue !important;
				}
			}
		}

		.dropdown.open{
			&>a{
				color:$white;
				background-color: $link-hover;
			}
		}
	}

	.navbar-header{
		padding-left:20px;
		display: block;
		height:75px;
	}

	//hamburger
	.navbar-toggle{
		margin-top: 19px;
		margin-right:30px;
	}

	.navbar-collapse{
		margin:auto 0;
		max-height: 100%;
		background-color:$white;
		// box-shadow:0 6px 12px rgba(0,0,0,.175);
		@include box-shadow(rgba(0,0,0,.175) 0 6px 12px);
	}
}

.psn-navbar-nav{
	float:right;

}

.psn-border{
	border-color:$gold;
	border-width:0 0 5px;
}

.navbar-brand{
	width:180px;

	img{
		max-width: 200px;
	  	width:100%;
	}
}

.dropdown-submenu{
	position:relative;
}

.dropdown-submenu>.dropdown-menu{
	top:0;
	// left:100%;
	left:0;
	margin-top: 0px !important;
	margin-bottom:-1px !important;
	margin-left:-1px;
	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px 6px;
	border-radius:0;
	z-index:2;
}

.dropdown-submenu>a:after{
	display:block;content:" ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-width:5px 0 5px 5px;
	border-left-color:#cccccc;
	margin-top:5px;margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
	border-left-color:#ffffff;
}

.dropdown-submenu.pull-left{
	float:none;
}

.dropdown-submenu.pull-left>.dropdown-menu{
		left:-100%;
	margin-left:10px;
	-webkit-border-radius:6px 0 6px 6px;
	-moz-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px;
}

//subnav

.subNav-open{
	display:none !important;
	z-index:0;

}

.overlay{
	display:none;
	background-color:transparent;
	z-index:0;

	&.active{
		z-index: 999;
		display: block;
		width:100%;
		height: 100%;
		position:fixed;
		top:0;
	}
}

@include breakpoint(tablet){

	.psn-nav-homepage{
	  position: relative;
	  bottom:0;
	  right:0;
	  border-bottom:1px solid #a99781;
	  border-width: 0 0 5px;

		.navbar-nav{

			&>li{
				display: inline-block;

				&>a{
					color:$white;


					&:focus{
						color:$white;
					}
					&:hover{
						color:$link-hover;
					}
				}
			}

			.dropdown-menu{
				text-align: left;
				background-color: $white;
				margin-top: 5px;

				&>li{

					&>a{
						color:$blue !important;
						padding:15px 25px !important;
						&:hover{
							color:$white !important;
							background-color: $link-hover;
						}
					}
				}
			}

			.dropdown.open{
				&>a{
					color:$link-hover;
					background-color: $white;
				}
			}
		}

		.navbar-collapse{
			background-color: transparent;
		}
	}

	.psn-nav-locations{

		.nav-locations{

			&>li{
				display: inline-block;

				&>a{
					color:$white;
					display: block;

					&:focus{
						color:$white;
						text-decoration: none;
					}
					&:hover{
						color:$link-hover;
					}

				}

			}

			.dropdown-menu{
				text-align: left;
				background-color: $white;
				margin-top: 5px;

				&>li{

					&>a{
						color:$blue !important;
						padding:15px 25px !important;
						&:hover{
							color:$white !important;
							background-color: $link-hover;
						}
					}
				}
			}

			.dropdown.open{
				&>a{
					color:$link-hover;
					background-color: $white;
				}
			}
		}

		.navbar-collapse{
			background-color: transparent;
		}

		.dropdown.active{
			background-color: $white;

			a{
				color:$link-hover;

				&:focus{
					color:$link-hover;
				}
			}
		}
	}

	.psn-nav{
		background-color:#fff;
		height:96px;

		.navbar-nav{
			padding-top:41px;
			margin:0;

			&>li{
				// display: inline-block;
				float:left;
			}

			.dropdown-menu{
				margin-top: 5px;
				text-align: left;
				background-color: $white;

				&>li{

					&>a{
						padding:15px 25px !important;
						color:$blue;

						&:hover{
							background-color: $link-hover;
							color:$white !important;
						}
					}
				}
			}

			.dropdown.open{
				&>a{
					color:$blue;
					background-color: $dropdown-bg-mobile;
				}
			}
		}

		.navbar-header{
		  padding-left:20px;
		  display: block;
		  height:96px;
		}

		//hamburger
		.navbar-toggle{
		  margin-top: 28px;
		  margin-right:30px;
		}

		.navbar-collapse{
			background-color:transparent;
			box-shadow:none;
		}
	}

	.navbar-right{

		margin-right:0;
		//add extra padding to the right of the nav
		// margin-right:20px;

		li{
			&:nth-last-child(1){
				.dropdown-menu{

				}
			}
		}
	}

	.navbar-brand{
	  width:100%;

	  img{
		max-width: 200px;
		width:100%;
	  }
	}

}

@include breakpoint(laptop){

	//Enable Hover States
	// ul.nav li.dropdown:hover > ul.dropdown-menu {
	//   display: block;
	// }

	// .dropdown-submenu:hover>.dropdown-menu{
	// 	display:block;
	// }
}
