/*********************************************************

Project Name: Website Bootstrap boilerplate
Project Description:
File Name: Master Sass file
Author: Spencer Bigum, Casey Jardin
Author URL:
Version: 1.0.0

*********************************************************/
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
@import url("http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic");
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #070d3f;
}
a:hover {
  text-decoration: none;
  color: #f75b1e;
}

.psn-container {
  max-width: 1170px;
  margin: 0 auto;
}

.psn-container-nav {
  padding: 96px 0 0 0;
  max-width: 1170px;
  margin: 0 auto;
}

.psn-fluid-nav {
  padding: 96px 0 0 0;
}

.psn-fluid-inner {
  margin: 60px 0;
  padding: 0;
}

.psn-container-lg {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.psn-container-outer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.psn-container-inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
}
.psn-container-inner .desc h2 {
  color: #00237d;
  margin: 30px 0 10px;
}
.psn-container-inner .desc a {
  color: #00237d;
}
.psn-container-inner .desc a:hover {
  color: #f75b1e;
}

.psn-content-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}

.inner-wrapper {
  margin-bottom: 50px;
  padding: 0;
}

.content-wrapper {
  padding: 0 60px;
}

.content-wrapper-970 {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.blue-border {
  padding-top: 10px;
  border-top: 1px solid #7da1ff;
  margin-bottom: 35px;
}

.header-starburst {
  margin: 0 auto;
  width: 100%;
}
.header-starburst img {
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
}

.blue-header h2 {
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #070d3f;
  font-size: 18px;
  letter-spacing: 10px;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 40px;
  line-height: 28px;
}

h3 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 25px;
  line-height: 44px;
  color: #a99781;
}

h4 {
  font-size: 34px;
  font-weight: 300;
  color: #a99781;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  line-height: 41px;
}

h5 {
  font-size: 18px;
  font-weight: 500;
  color: #00237d;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #826c4c;
}

.intro-text {
  padding: 0 30px;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .psn-container-inner {
    padding: 0 60px;
  }

  .intro-text {
    padding: 0 60px;
    margin-bottom: 60px;
  }

  .inner-wrapper {
    margin-bottom: 50px;
  }
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0;
}

.img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.no-headline {
  padding-top: 63px;
}

.doc-md {
  font-weight: 400;
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}
.text-white p {
  color: #fff;
}

.text-gold {
  color: #826c4c;
}

.gold-bg {
  background-color: #a99781;
}

.white-bg {
  background-color: #fff;
}

.tan-bg {
  background-color: #ddd1c5;
}

.blue-bg {
  background-color: #070d3f;
}

.float-box-1 {
  position: absolute;
  top: -80px;
  left: 0;
  width: 55%;
  z-index: 3;
  background-color: white;
  box-shadow: 6px 6px 32px 0px rgba(0, 0, 0, 0.3);
}

.float-box-2 {
  position: relative;
  width: 45%;
  float: right;
  z-index: 1;
}

.gradient-bg-1 {
  background-color: #111440;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF111440', endColorstr='#FF022EAA');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExMTQ0MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyMmVhYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #111440), color-stop(100%, #022eaa));
  background-image: -moz-linear-gradient(left, #111440 0%, #022eaa 100%);
  background-image: -webkit-linear-gradient(left, #111440 0%, #022eaa 100%);
  background-image: linear-gradient(to right, #111440 0%, #022eaa 100%);
}

.gradient-bg-img, .blue-header {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.gradient-top {
  width: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
  height: 200px;
  top: 0;
}

.gradient-bottom {
  width: 100%;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
  height: 200px;
  bottom: 0;
}

.gradient-bottom-projects {
  width: 100%;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
  height: 33%;
  bottom: 0;
}

.detail-divider {
  margin-bottom: 30px;
}

.btn-primary {
  color: #fff;
  background-color: #a99781;
  border-color: #a99781;
}
.btn-primary:hover, .btn-primary.active {
  background-color: #ddd1c5;
  border-color: #ddd1c5;
  box-shadow: none;
}

.psn-header {
  background-color: #27459b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF27459B', endColorstr='#FF121540');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI3JSIgc3RvcC1jb2xvcj0iIzI3NDU5YiIvPjxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjMTIxNTQwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(7%, #27459b), color-stop(90%, #121540));
  background-image: -moz-linear-gradient(left bottom, #27459b 7%, #121540 90%);
  background-image: -webkit-linear-gradient(left bottom, #27459b 7%, #121540 90%);
  background-image: linear-gradient(to right top, #27459b 7%, #121540 90%);
}

.psn-header-wrapper a {
  display: table;
  margin: 0 auto;
}

.psn-title {
  color: #fff;
}

.psn-logo img {
  max-width: 450px;
  margin: 0 auto;
}

.psn-nav-home {
  background-color: transparent;
  margin-bottom: 0;
}

.psn-nav-content {
  list-style: none;
}
.psn-nav-content .psn-secondary-nav {
  list-style: none;
}

.psn-nav-homepage {
  background-color: transparent;
  height: 55px;
  margin: 0 auto;
  z-index: 1030;
}
.psn-nav-homepage .navbar-nav {
  margin: 0 auto;
  float: none;
  text-align: center;
}
.psn-nav-homepage .navbar-nav > li {
  float: none;
}
.psn-nav-homepage .navbar-nav > li > a {
  color: #00237d;
  padding: 15px 25px 15px 25px;
}
.psn-nav-homepage .navbar-nav > li > a:hover {
  color: #333;
}
.psn-nav-homepage .navbar-nav .dropdown-menu {
  left: 0;
  border: none;
  box-shadow: none;
  padding: 0;
  text-align: center;
  background-color: #E8E8E8;
}
.psn-nav-homepage .navbar-nav .dropdown-menu > li > a {
  color: #00237d !important;
  padding: 15px 75px !important;
}
.psn-nav-homepage .navbar-nav .dropdown.open > a {
  color: #fff;
  background-color: #f75b1e;
}
.psn-nav-homepage .dropdown {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.psn-nav-homepage .dropdown:hover {
  background-color: #fff;
}
.psn-nav-homepage .psn-dropdown {
  color: #fff;
}
.psn-nav-homepage .dropdown-submenu > .dropdown-menu {
  margin-top: 0px !important;
  margin-left: 0;
}
.psn-nav-homepage .navbar-collapse {
  background-color: #fff;
  border: 0;
}

.psn-nav-locations {
  background-color: transparent;
  height: 55px;
  margin: 0 auto;
}
.psn-nav-locations .navbar-nav {
  margin: 0 auto;
  float: none;
  text-align: center;
}
.psn-nav-locations .navbar-nav > li {
  float: none;
}
.psn-nav-locations .navbar-nav > li > a {
  color: #00237d;
  padding: 15px 25px 15px 25px;
}
.psn-nav-locations .navbar-nav > li > a:hover {
  color: #333;
}
.psn-nav-locations .navbar-nav .dropdown-menu {
  left: 0;
  border: none;
  box-shadow: none;
  padding: 0;
  text-align: center;
  background-color: #E8E8E8;
}
.psn-nav-locations .navbar-nav .dropdown-menu > li > a {
  color: #00237d !important;
  padding: 15px 75px !important;
}
.psn-nav-locations .navbar-nav .dropdown.open > a {
  color: #fff;
  background-color: #f75b1e;
}
.psn-nav-locations .dropdown {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.psn-nav-locations .dropdown:hover {
  background-color: #fff;
}
.psn-nav-locations .psn-dropdown {
  color: #fff;
}
.psn-nav-locations .dropdown-submenu > .dropdown-menu {
  margin-top: 0px !important;
  margin-left: 0;
}
.psn-nav-locations .navbar-collapse {
  background-color: #fff;
  border: 0;
}

.psn-nav {
  background-color: #fff;
  height: 96px;
}
.psn-nav .navbar-collapse {
  border: 0;
}
.psn-nav .navbar-nav {
  padding-top: 0;
  text-align: center;
  margin: 0 -15px;
  top: -1px;
}
.psn-nav .navbar-nav > li {
  float: none;
}
.psn-nav .navbar-nav > li > a {
  color: #00237d;
  padding: 15px 25px 15px 25px;
}
.psn-nav .navbar-nav > li > a:focus {
  color: #00237d;
}
.psn-nav .navbar-nav > li > a:hover {
  color: #f75b1e;
}
.psn-nav .navbar-nav .dropdown-menu {
  padding: 0;
  border: none;
  border-radius: 0;
  text-align: center;
  background-color: #E8E8E8;
  text-align: center;
}
.psn-nav .navbar-nav .dropdown-menu > li > a {
  padding: 15px 75px !important;
  color: #00237d !important;
}
.psn-nav .navbar-nav .dropdown.open > a {
  color: #fff;
  background-color: #f75b1e;
}
.psn-nav .navbar-header {
  padding-left: 20px;
  display: block;
  height: 96px;
}
.psn-nav .navbar-toggle {
  margin-top: 28px;
  margin-right: 30px;
}
.psn-nav .navbar-collapse {
  margin: auto 0;
  max-height: 100%;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.175) 0 6px 12px;
  box-shadow: rgba(0, 0, 0, 0.175) 0 6px 12px;
}

.psn-navbar-nav {
  float: right;
}

.psn-border {
  border-color: #a99781;
  border-width: 0 0 5px;
}

.navbar-brand img {
  max-width: 200px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 0;
  margin-top: 0px !important;
  margin-bottom: -1px !important;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0;
  z-index: 2;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.subNav-open {
  display: none !important;
  z-index: 0;
}

.overlay {
  display: none;
  background-color: transparent;
  z-index: 0;
}
.overlay.active {
  z-index: 999;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

@media (min-width: 768px) {
  .psn-nav-homepage .navbar-nav > li {
    display: inline-block;
  }
  .psn-nav-homepage .navbar-nav > li > a {
    color: #fff;
  }
  .psn-nav-homepage .navbar-nav > li > a:focus {
    color: #fff;
  }
  .psn-nav-homepage .navbar-nav > li > a:hover {
    color: #f75b1e;
  }
  .psn-nav-homepage .navbar-nav .dropdown-menu {
    text-align: left;
    background-color: #fff;
    margin-top: 5px;
  }
  .psn-nav-homepage .navbar-nav .dropdown-menu > li > a {
    color: #00237d !important;
    padding: 15px 25px !important;
  }
  .psn-nav-homepage .navbar-nav .dropdown-menu > li > a:hover {
    color: #fff !important;
    background-color: #f75b1e;
  }
  .psn-nav-homepage .navbar-nav .dropdown.open > a {
    color: #f75b1e;
    background-color: #fff;
  }
  .psn-nav-homepage .navbar-collapse {
    background-color: transparent;
  }

  .psn-nav-locations .navbar-nav > li {
    display: inline-block;
  }
  .psn-nav-locations .navbar-nav > li > a {
    color: #fff;
  }
  .psn-nav-locations .navbar-nav > li > a:focus {
    color: #fff;
  }
  .psn-nav-locations .navbar-nav > li > a:hover {
    color: #f75b1e;
  }
  .psn-nav-locations .navbar-nav .dropdown-menu {
    text-align: left;
    background-color: #fff;
    margin-top: 5px;
  }
  .psn-nav-locations .navbar-nav .dropdown-menu > li > a {
    color: #00237d !important;
    padding: 15px 25px !important;
  }
  .psn-nav-locations .navbar-nav .dropdown-menu > li > a:hover {
    color: #fff !important;
    background-color: #f75b1e;
  }
  .psn-nav-locations .navbar-nav .dropdown.open > a {
    color: #f75b1e;
    background-color: #fff;
  }
  .psn-nav-locations .navbar-collapse {
    background-color: transparent;
  }

  .psn-nav {
    background-color: #fff;
    height: 96px;
  }
  .psn-nav .navbar-nav {
    padding-top: 41px;
    margin: 0;
  }
  .psn-nav .navbar-nav > li {
    float: left;
  }
  .psn-nav .navbar-nav .dropdown-menu {
    margin-top: 5px;
    text-align: left;
    background-color: #fff;
  }
  .psn-nav .navbar-nav .dropdown-menu > li > a {
    padding: 15px 25px !important;
    color: #00237d;
  }
  .psn-nav .navbar-nav .dropdown-menu > li > a:hover {
    background-color: #f75b1e;
    color: #fff !important;
  }
  .psn-nav .navbar-nav .dropdown.open > a {
    color: #00237d;
    background-color: #E8E8E8;
  }
  .psn-nav .navbar-collapse {
    background-color: transparent;
    box-shadow: none;
  }

  .navbar-right {
    margin-right: 0;
  }
}
footer {
  padding: 0 0 40px 0 !important;
}

.footer-info-bar {
  padding: 0;
  display: block;
  width: 100%;
  background-color: #ddd1c5;
  border-top: 3px solid #a99781;
  text-align: center;
}
.footer-info-bar .appointment, .footer-info-bar .request-info, .footer-info-bar .bill-pay {
  display: block;
  padding: 15px 15px;
  color: #746450;
  border-bottom: 1px solid #a99781;
}
.footer-info-bar .appointment:hover, .footer-info-bar .request-info:hover, .footer-info-bar .bill-pay:hover {
  color: #f75b1e;
}
.footer-info-bar .fa {
  display: inline-block;
  padding-right: 5px;
  padding-bottom: 0;
}

.footer-wrapper {
  padding-top: 40px;
}

.footer-logo {
  padding: 24px 64px 30px;
  margin: 0 auto;
}
.footer-logo img {
  max-width: 200px;
  margin: 0 auto;
}

.footer-contact {
  color: #fff;
}
.footer-contact a {
  color: #fff;
}
.footer-contact p {
  color: #fff;
}
.footer-contact .contact-wrapper {
  text-align: center;
}

.footer-contact {
  display: block;
  padding-top: 0;
}
.footer-contact .phone, .footer-contact .location, .footer-contact .fax {
  display: block;
  text-align: center;
  padding: 20px 20px;
  border-right: 0;
}
.footer-contact .phone:hover, .footer-contact .location:hover, .footer-contact .fax:hover {
  color: #f75b1e;
}
.footer-contact p {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 0;
}
.footer-contact .fa {
  display: block;
  padding-right: 0;
  padding-bottom: 15px;
}
.footer-contact .fax {
  border-right: 0;
}

.newsletter-signup {
  color: #fff;
  width: 100%;
  display: block;
  text-align: center;
}
.newsletter-signup label {
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 10px;
}
.newsletter-signup input {
  background-color: transparent;
  color: #fff;
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px soild #fff;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  box-shadow: none;
}
.newsletter-signup input:focus {
  outline: 0;
  box-shadow: none;
  border-color: #f75b1e;
}

.social-footer-wrapper {
  margin-top: 50px;
}
.social-footer-wrapper a {
  margin: 0 15px;
}
.social-footer-wrapper .social {
  text-align: center;
  margin-bottom: 40px;
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .footer-wrapper {
    padding: 40px 30px 0;
  }
  .footer-wrapper .social {
    text-align: left;
    margin-bottom: 0;
  }
  .footer-wrapper .social a {
    padding-right: 20px;
  }

  .footer-info-bar {
    padding: 15px 0;
  }
  .footer-info-bar .appointment, .footer-info-bar .request-info, .footer-info-bar .bill-pay {
    display: inline-block;
    padding: 0 15px;
    border-bottom: 0;
  }

  .footer-logo {
    padding: 24px 64px 40px;
  }

  .footer-contact {
    display: block;
    margin: 35px 0 50px 0;
  }
  .footer-contact .phone, .footer-contact .location, .footer-contact .fax {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    border-right: 1px solid #fff;
  }
  .footer-contact .fa {
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 0;
  }
  .footer-contact .fax {
    border-right: 0;
  }

  .newsletter-signup {
    margin-top: 20px;
  }

  .copyright {
    margin-top: 5px;
    text-align: right;
  }
}
@media (min-width: 992px) {
  .footer-wrapper {
    padding: 40px 0 0;
  }
  .footer-wrapper .social {
    text-align: left;
    margin-bottom: 0;
  }
  .footer-wrapper .social a {
    display: block;
    padding-bottom: 10px;
  }

  .footer-logo {
    padding: 24px 64px 15px;
  }

  .footer-contact {
    margin: 0;
  }
  .footer-contact .contact-wrapper {
    padding: 15px 0 0 80px;
    text-align: left;
  }
  .footer-contact .phone, .footer-contact .location, .footer-contact .fax {
    display: block;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 15px;
    border-right: 0;
  }
  .footer-contact .fa {
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .newsletter-signup {
    text-align: left;
    margin-top: 33px;
    padding-left: 100px;
  }
  .newsletter-signup input {
    text-align: left;
  }

  .copyright {
    text-align: center;
    margin: 20px 0 0;
  }
}
@media (min-width: 1200px) {
  .footer-contact {
    margin-top: 54px;
  }
  .footer-contact .contact-wrapper {
    padding: 0;
    text-align: right;
  }
  .footer-contact .phone, .footer-contact .location, .footer-contact .fax {
    display: inline-block;
    text-align: center;
    border-right: 1px solid #fff;
  }
  .footer-contact .fax {
    border-right: 0;
    padding-right: 0;
  }

  .newsletter-signup {
    margin-top: 0;
    padding-left: 0;
  }

  .footer-wrapper .social {
    text-align: right;
    margin-top: 20px;
  }
  .footer-wrapper .social a {
    display: inline-block;
    padding-left: 20px;
    padding-right: 0;
  }

  .copyright {
    text-align: left;
    margin-top: 36px;
  }
}
.psn-sidebar-wrapper {
  position: relative;
}
.psn-sidebar-wrapper .sidebar-title {
  text-align: center;
  color: #00237d;
}
.psn-sidebar-wrapper h2 {
  margin: 40px auto;
  padding: 0 20px;
  color: #00237d;
}
.psn-sidebar-wrapper a {
  display: block;
  padding: 20px 15px;
  text-align: center;
  border-top: 2px solid #c8bdae;
  font-size: 16px;
  font-weight: 400;
  color: #00237d;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.psn-sidebar-wrapper a:hover {
  color: #fff;
  background-color: #a99781;
}
.psn-sidebar-wrapper i {
  padding-right: 5px;
}
.psn-sidebar-wrapper .sidebar-back {
  font-weight: 600;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 13px;
}

.newsletter-form {
  margin-bottom: 100px;
}

.psn-form-group {
  margin-bottom: 30px;
}
.psn-form-group label {
  color: #00237d;
  font-weight: 300;
  font-size: 14px;
  height: 38px;
  line-height: 32px;
}
.psn-form-group textarea {
  height: auto;
  line-height: 24px;
}
.psn-form-group.date .form-control {
  width: 80%;
  display: inline-block;
}
.psn-form-group.date .add-on {
  display: inline-block;
  position: absolute;
  top: 34px;
}
.psn-form-group.date .add-on i {
  padding: 15px;
  width: 100%;
  height: 100%;
}
.psn-form-group.date input {
  background-color: #fff;
}
.psn-form-group.time {
  display: block;
}
.psn-form-group.time .time-dots {
  float: left;
  padding: 0 10px;
  font-weight: bold;
}
.psn-form-group.time select {
  float: left;
  color: #00237d;
}
.psn-form-group.time label {
  display: block;
}
.psn-form-group .form-control {
  padding: 0 12px;
  border: none;
  border-bottom: 1px solid #00237d;
  box-shadow: none;
  border-radius: 0;
  font-size: 22px;
  font-weight: 300;
}
.psn-form-group .form-control::-webkit-input-placeholder {
  color: #cacddc;
  font-weight: 300;
  font-size: 25px;
}
.psn-form-group .form-control::-moz-placeholder {
  color: #cacddc;
  font-weight: 300;
  font-size: 25px;
}
.psn-form-group .form-control:-moz-placeholder {
  /* Older versions of Firefox */
  color: #cacddc;
  font-weight: 300;
  font-size: 25px;
}
.psn-form-group .form-control:-ms-input-placeholder {
  color: #cacddc;
  font-weight: 300;
  font-size: 25px;
}
.psn-form-group .form-control.hours {
  width: 80px;
  font-size: 18px;
}
.psn-form-group .form-control.day {
  width: 80px;
  font-size: 18px;
  margin-left: 20px;
}
.psn-form-group .insurance-radio {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.insurance-type {
  position: relative;
  padding-top: 40px;
}
.insurance-type label {
  color: #826c4c;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.insurance-type::before {
  content: "Type";
  position: absolute;
  font-weight: 300;
  top: 0;
  left: 0;
}

.btn-insurance {
  color: #00237d;
  border: 1px solid #D5D5D5;
  border-left: 0;
  display: inline;
  border-radius: 0;
  padding: 7px 26.75px;
}
.btn-insurance:nth-child(1) {
  border-left: 1px solid #D5D5D5;
}
.btn-insurance:nth-last-child(1) {
  border-left: 0;
}
.btn-insurance.active {
  background-color: #d5dcff;
  color: #070d3f;
}

.psn-submit {
  border-radius: 0;
  background-color: #2b3153;
  padding: 10px 45px;
  color: #fff;
  border: 0;
}
.psn-submit:hover {
  color: #fff;
  border: 0;
  background-color: #f75b1e;
}

#nav_why, #nav_what,
#nav_visit, #nav_doctor,
#nav_opinions, #nav_stories {
  display: none;
}

#psn-nav-home {
  background: url("http://www.blogcdn.com/slideshows/images/slides/262/224/1/S2622241/slug/l/portrait-of-beautiful-young-nurse-smiling-holding-clipboard-with-medical-team-in-the-background-2.jpg");
  background-repeat: no-repeat;
  padding: 5.2% 0;
  position: relative;
}
#psn-nav-home .container {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#psn-nav-home .quiz {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#psn-nav-home .panel.panel-horizontal {
  display: table;
  width: 100%;
  max-width: 615px;
  margin: 0 auto;
}
#psn-nav-home .panel.panel-horizontal > .panel-heading, #psn-nav-home .panel.panel-horizontal > .panel-body, #psn-nav-home .panel.panel-horizontal > .panel-footer {
  display: table-cell;
}
#psn-nav-home .panel.panel-horizontal > .panel-heading, #psn-nav-home .panel.panel-horizontal > .panel-footer {
  width: 200px;
  height: 200px;
  border: 0;
  vertical-align: middle;
}
#psn-nav-home .panel.panel-horizontal > .panel-heading {
  border-right: 1px solid #ddd;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}
#psn-nav-home .panel.panel-horizontal > .panel-footer {
  border-left: 1px solid #ddd;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
}
#psn-nav-home .panel.panel-horizontal > .panel-body {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#psn-nav-home .panel-group > .panel {
  color: #fff;
  border: none;
}
#psn-nav-home .panel-group > .panel .panel-body {
  background-color: #a3977f;
}
#psn-nav-home .panel-group > .panel .panel-body:hover {
  background-color: #ddd1c5;
}
#psn-nav-home .panel-group > .panel:nth-child(odd) a {
  color: #2a3253;
}
#psn-nav-home .panel-group > .panel:nth-child(odd) .panel-body {
  background-color: #a3977f;
}
#psn-nav-home .panel-group > .panel:nth-child(odd) .panel-body:hover {
  background-color: #826c4c;
}
#psn-nav-home .panel-group > .panel:nth-child(even) a {
  color: #a3977f;
}
#psn-nav-home .panel-group > .panel:nth-child(even) .panel-body {
  background-color: #2a3253;
}
#psn-nav-home .panel-group > .panel:nth-child(even) .panel-body:hover {
  background-color: #070d3f;
}
#psn-nav-home .panel {
  position: relative;
  background: transparent;
  border: none;
}
#psn-nav-home .panel .readMore {
  font-weight: 400;
  font-size: 1.25em;
  position: absolute;
  bottom: 0;
  padding-bottom: 25px;
}
#psn-nav-home .panel a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#psn-nav-home .panel h3 {
  font-size: 2.25em;
  font-weight: 100;
  line-height: 40px;
}
#psn-nav-home .panel-group .panel + .panel {
  margin-top: 25px;
}
#psn-nav-home .panel .btn-back {
  padding: 30px;
  text-align: center;
  font-weight: bold;
  display: block;
  background-color: #a3977f;
  cursor: pointer;
}
#psn-nav-home .panel .btn-back:hover {
  background-color: #826c4c !important;
  color: #fff;
  font-weight: bold;
}

.btn-block + .btn-block {
  margin-top: 25px;
}

label.btn {
  padding: 18px 60px;
  white-space: normal;
  max-width: 615px;
  height: 113px;
  margin: 0 auto;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: 0.3s;
}

label.btn:hover {
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

label.btn-block {
  text-align: center;
  position: relative;
  font-size: 2.25em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 75px;
}

label .btn-label {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.15);
  height: 100%;
}

label .glyphicon {
  top: 34%;
}

.element-animation1 {
  -webkit-animation: animationFrames 0.8s ease 1;
  -o-animation: animationFrames 0.8s ease 1;
  animation: animationFrames 0.8s ease 1;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.element-animation2 {
  -webkit-animation: animationFrames 1s ease 1;
  -o-animation: animationFrames 1s ease 1;
  animation: animationFrames 1s ease 1;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.element-animation3 {
  -webkit-animation: animationFrames 1.2s ease 1;
  -o-animation: animationFrames 1.2s ease 1;
  animation: animationFrames 1.2s ease 1;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.element-animation4 {
  -webkit-animation: animationFrames 1.4s ease 1;
  -o-animation: animationFrames 1.4s ease 1;
  animation: animationFrames 1.4s ease 1;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@keyframes animationFrames {
  0% {
    opacity: 0;
    transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    transform: translate(30px, 0px);
  }
  80% {
    transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes animationFrames {
  0% {
    opacity: 0;
    -webkit-transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(30px, 0px);
  }
  80% {
    -webkit-transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}
@-ms-keyframes animationFrames {
  0% {
    opacity: 0;
    -ms-transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    -ms-transform: translate(30px, 0px);
  }
  80% {
    -ms-transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    -ms-transform: translate(0px, 0px);
  }
}
.modal-header {
  background-color: transparent;
  color: inherit;
}

.modal-body {
  min-height: 205px;
}

#loadbar {
  position: absolute;
  width: 62px;
  height: 77px;
  top: 2em;
}

.blockG {
  position: absolute;
  background-color: #FFF;
  width: 10px;
  height: 24px;
  -moz-border-radius: 8px 8px 0 0;
  -moz-transform: scale(0.4);
  -moz-animation-name: fadeG;
  -moz-animation-duration: .8800000000000001s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-border-radius: 8px 8px 0 0;
  -webkit-transform: scale(0.4);
  -webkit-animation-name: fadeG;
  -webkit-animation-duration: .8800000000000001s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-border-radius: 8px 8px 0 0;
  -ms-transform: scale(0.4);
  -ms-animation-name: fadeG;
  -ms-animation-duration: .8800000000000001s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-border-radius: 8px 8px 0 0;
  -o-transform: scale(0.4);
  -o-animation-name: fadeG;
  -o-animation-duration: .8800000000000001s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  border-radius: 8px 8px 0 0;
  transform: scale(0.4);
  animation-name: fadeG;
  animation-duration: .8800000000000001s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

#rotateG_01 {
  left: 0;
  top: 28px;
  -moz-animation-delay: .33s;
  -moz-transform: rotate(-90deg);
  -webkit-animation-delay: .33s;
  -webkit-transform: rotate(-90deg);
  -ms-animation-delay: .33s;
  -ms-transform: rotate(-90deg);
  -o-animation-delay: .33s;
  -o-transform: rotate(-90deg);
  animation-delay: .33s;
  transform: rotate(-90deg);
}

#rotateG_02 {
  left: 8px;
  top: 10px;
  -moz-animation-delay: .44000000000000006s;
  -moz-transform: rotate(-45deg);
  -webkit-animation-delay: .44000000000000006s;
  -webkit-transform: rotate(-45deg);
  -ms-animation-delay: .44000000000000006s;
  -ms-transform: rotate(-45deg);
  -o-animation-delay: .44000000000000006s;
  -o-transform: rotate(-45deg);
  animation-delay: .44000000000000006s;
  transform: rotate(-45deg);
}

#rotateG_03 {
  left: 26px;
  top: 3px;
  -moz-animation-delay: .55s;
  -moz-transform: rotate(0deg);
  -webkit-animation-delay: .55s;
  -webkit-transform: rotate(0deg);
  -ms-animation-delay: .55s;
  -ms-transform: rotate(0deg);
  -o-animation-delay: .55s;
  -o-transform: rotate(0deg);
  animation-delay: .55s;
  transform: rotate(0deg);
}

#rotateG_04 {
  right: 8px;
  top: 10px;
  -moz-animation-delay: .66s;
  -moz-transform: rotate(45deg);
  -webkit-animation-delay: .66s;
  -webkit-transform: rotate(45deg);
  -ms-animation-delay: .66s;
  -ms-transform: rotate(45deg);
  -o-animation-delay: .66s;
  -o-transform: rotate(45deg);
  animation-delay: .66s;
  transform: rotate(45deg);
}

#rotateG_05 {
  right: 0;
  top: 28px;
  -moz-animation-delay: .7700000000000001s;
  -moz-transform: rotate(90deg);
  -webkit-animation-delay: .7700000000000001s;
  -webkit-transform: rotate(90deg);
  -ms-animation-delay: .7700000000000001s;
  -ms-transform: rotate(90deg);
  -o-animation-delay: .7700000000000001s;
  -o-transform: rotate(90deg);
  animation-delay: .7700000000000001s;
  transform: rotate(90deg);
}

#rotateG_06 {
  right: 8px;
  bottom: 7px;
  -moz-animation-delay: .8800000000000001s;
  -moz-transform: rotate(135deg);
  -webkit-animation-delay: .8800000000000001s;
  -webkit-transform: rotate(135deg);
  -ms-animation-delay: .8800000000000001s;
  -ms-transform: rotate(135deg);
  -o-animation-delay: .8800000000000001s;
  -o-transform: rotate(135deg);
  animation-delay: .8800000000000001s;
  transform: rotate(135deg);
}

#rotateG_07 {
  bottom: 0;
  left: 26px;
  -moz-animation-delay: .99s;
  -moz-transform: rotate(180deg);
  -webkit-animation-delay: .99s;
  -webkit-transform: rotate(180deg);
  -ms-animation-delay: .99s;
  -ms-transform: rotate(180deg);
  -o-animation-delay: .99s;
  -o-transform: rotate(180deg);
  animation-delay: .99s;
  transform: rotate(180deg);
}

#rotateG_08 {
  left: 8px;
  bottom: 7px;
  -moz-animation-delay: 1.1s;
  -moz-transform: rotate(-135deg);
  -webkit-animation-delay: 1.1s;
  -webkit-transform: rotate(-135deg);
  -ms-animation-delay: 1.1s;
  -ms-transform: rotate(-135deg);
  -o-animation-delay: 1.1s;
  -o-transform: rotate(-135deg);
  animation-delay: 1.1s;
  transform: rotate(-135deg);
}

@-moz-keyframes fadeG {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #FFF;
  }
}
@-webkit-keyframes fadeG {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #FFF;
  }
}
@-ms-keyframes fadeG {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #FFF;
  }
}
@-o-keyframes fadeG {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #FFF;
  }
}
@keyframes fadeG {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #FFF;
  }
}
.overlap-above p:nth-last-child(1) {
  padding-bottom: 40px;
}

.overlap-bottom-wrapper {
  height: auto;
  position: relative;
  padding: 0;
}

.overlap-below {
  padding: 5px 0;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}

.below-content {
  padding: 0 60px;
  top: 0;
  position: relative;
}

.doctor-wrapper {
  display: table;
}
.doctor-wrapper .doctor-portrait {
  padding-bottom: 30px;
  color: #070d3f;
}
.doctor-wrapper .doctor-portrait img {
  max-width: 180px;
  margin: 0 auto;
}
.doctor-wrapper .doctor-portrait h4 {
  margin-top: 15px;
  font-weight: 600;
}
.doctor-wrapper .doctor-portrait span {
  font-weight: 400;
}

.office-thumb-wrapper {
  padding: 52px 60px 33px;
  display: table;
}

.office-content h5 {
  text-align: center;
  font-size: 16px;
  color: #00237d;
  font-weight: 400;
}

.psn-group {
  margin-bottom: 0;
  background-color: transparent;
}
.psn-group .psn-panel {
  border-radius: 0;
  border: none;
}
.psn-group .psn-heading {
  background-color: #a99781;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  height: 37px;
}
.psn-group .psn-title {
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 22px;
}
.psn-group .psn-title span {
  padding: 0 20px;
}
.psn-group .psn-title a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 8px 0 0 10px;
}
.psn-group .psn-title a:focus {
  text-decoration: none;
  outline: 5px auto #ddd1c5;
}
.psn-group .psn-title a:hover {
  color: #00237d;
}
.psn-group .psn-title a::before, .psn-group .psn-title a::after {
  content: '';
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  height: 1px;
  width: 20px;
  right: 15px;
  background: #fff;
  -webkit-transition: transform 0.3s 0s;
  -o-transition: transform 0.3s 0s;
  transition: transform 0.3s 0s;
}
.psn-group .psn-title .collapsed::after {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.psn-group .psn-body {
  padding: 0;
  overflow: hidden;
  border-top: none !important;
}
.psn-group .psn-panel-img {
  position: relative;
  display: none;
}
.psn-group .psn-panel-img img {
  position: absolute;
  max-width: 131%;
  left: -54px;
}
.psn-group .psn-panel-desc {
  background-color: #fff;
  padding: 0 40px;
}
.psn-group .psn-panel-desc .title {
  color: #a99781;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 0;
}
.psn-group .psn-panel-desc p {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
}

.affiliate-wrapper.row {
  background-color: #fff !important;
}
.affiliate-wrapper img {
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .psn-group .psn-panel-img {
    display: block;
  }

  .overlap-bottom-wrapper {
    height: auto;
    position: relative;
    padding: 0 15px;
  }

  .psn-group .psn-panel-img img {
    max-width: 167%;
    left: -125px;
  }
}
@media (min-width: 992px) {
  .overlap-above p:nth-last-child(1) {
    padding-bottom: 280px;
  }

  .below-content {
    padding: 0 60px;
    top: -215px;
    position: absolute;
  }

  .overlap-bottom-wrapper {
    height: 625px;
    position: relative;
  }

  .psn-group .psn-panel-img img {
    max-width: 131%;
    left: -54px;
  }
}
.header-image {
  position: relative;
  max-height: 780px;
}

.doctor-name {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 80%;
  background-color: #ffa519;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFA519', endColorstr='#FFFF1E1E');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmYTUxOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMWUxZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(1%, #ffa519), color-stop(100%, #ff1e1e));
  background-image: -moz-linear-gradient(left, #ffa519 1%, #ff1e1e 100%);
  background-image: -webkit-linear-gradient(left, #ffa519 1%, #ff1e1e 100%);
  background-image: linear-gradient(to right, #ffa519 1%, #ff1e1e 100%);
}
.doctor-name h2 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 18px;
  margin-left: 30px;
}

.info-block {
  border-top: 1px solid #b0c6ff;
  margin-bottom: 30px;
  display: table;
}
.info-block .desc {
  margin-bottom: 30px;
}
.info-block .desc h2 {
  letter-spacing: initial;
  margin-bottom: 0 !important;
}
.info-block .video-desc {
  margin: 30px 0;
}

@media (min-width: 768px) {
  .doctor-name {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 80%;
  }
  .doctor-name h2 {
    margin: 0;
    padding: 20px 0;
    color: #fff;
    font-size: 24px;
    margin-left: 60px;
  }
}
.service-header-wrapper {
  position: relative;
  display: table;
  width: 100%;
  height: 417px;
}

.service-overview {
  padding: 15px 75px 60px 30px;
  z-index: 2;
}
.service-overview .desc {
  margin-top: 30px;
}
.service-overview .title {
  color: #00237d;
  font-weight: bold;
}

.service-quote {
  background-color: #a99781;
  z-index: 1;
  padding: 40px;
}
.service-quote blockquote {
  border: 0;
  color: #fff;
  margin: 0;
  font-size: 25px;
}

.selectboxit-filters {
  margin: 20px auto;
}

.selectboxit-container {
  width: 100% !important;
  font: inherit;
  display: block;
  margin-bottom: 20px;
  z-index: 500;
}
.selectboxit-container .fa {
  font: normal normal normal 14px/1 FontAwesome;
}
.selectboxit-container .fa-2x {
  font-size: 1.5em;
}

.selectboxit-container .selectboxit {
  width: 100% !important;
  /* Width of the dropdown button */
  height: 55px;
  border-radius: 0;
}

.selectboxit-container .selectboxit-options {
  min-width: 100% !important;
  border-radius: 0;
}

/* Height and Vertical Alignment of Text */
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
  height: 100%;
  /* Height of the drop down */
  line-height: 55px;
  /* Vertically positions the drop down text */
  display: inline-block;
  max-width: none !important;
}

.selectboxit-btn {
  background-color: #fff;
  background-image: none;
  border: none;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.selectboxit-text {
  position: relative;
  text-align: left;
  width: auto;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 25px;
  line-height: 44px;
  color: #a99781;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-indent: 0;
}

span.selectboxit-arrow-container {
  position: relative;
  right: 0;
  margin-left: 7px;
  color: #a99781;
}

.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  right: 30px;
  left: none;
  top: 33%;
}

.selectboxit-default-arrow {
  border-top: 6px solid #070d3f;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.selectboxit-options.selectboxit-list {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.selectboxit-list {
  max-height: 1500px !important;
  border: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.selectboxit-option-first {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.selectboxit-option-last {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.selectboxit .selectboxit-option-icon-container {
  margin: 0;
}

.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
  background-color: #f75b1e;
  background-image: none;
  display: block;
  width: 100%;
  text-indent: 10px;
}

.selectboxit-btn.selectboxit-enabled:hover {
  background-color: #fff;
}
.selectboxit-btn.selectboxit-enabled:hover .selectboxit-text, .selectboxit-btn.selectboxit-enabled:hover .selectboxit-arrow-container {
  color: #f75b1e;
}

.selectboxit-btn.selectboxit-enabled:active {
  background-color: #fff;
}
.selectboxit-btn.selectboxit-enabled:active .selectboxit-text, .selectboxit-btn.selectboxit-enabled:active .selectboxit-arrow-container {
  color: #f75b1e;
}

.selectboxit-btn.selectboxit-enabled:focus {
  background-color: #fff;
}
.selectboxit-btn.selectboxit-enabled:focus .selectboxit-text, .selectboxit-btn.selectboxit-enabled:focus .selectboxit-arrow-container {
  color: #f75b1e;
}

#studio-applySelectBoxIt, #studio-selectSelectBoxIt {
  height: 3rem;
  background-color: #a99781;
  margin-top: 1rem;
}

#studio-applySelectBoxItText, #studio-selectSelectBoxItText {
  line-height: 44px;
  color: #fff;
}

#studio-applySelectBoxItArrow, #studio-selectSelectBoxItArrow {
  border-top: 6px solid #fff;
}

#studio-applySelectBoxItOptions a, #studio-selectSelectBoxItOptions a {
  color: #0b0b0b;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-out-in;
  -o-transition: all 0.3s ease-out-in;
  transition: all 0.3s ease-out-in;
}
#studio-applySelectBoxItOptions a:hover, #studio-selectSelectBoxItOptions a:hover {
  background-color: #e6e6e6;
}

#studio-selectSelectBoxItText {
  padding-left: 10px;
  text-align: left;
}

.sidebar-align-services {
  padding-top: 37px;
}

.condition-treatment {
  margin-bottom: 80px;
}
.condition-treatment a {
  padding-right: 30px;
}

.learn-section {
  margin-bottom: 50px;
}
.learn-section .row {
  background-color: #fff !important;
}
.learn-section h5 {
  margin-top: 20px;
}

.office-wrapper {
  margin-bottom: 80px;
}
.office-wrapper .office-content {
  width: 100%;
  max-width: 970px;
  margin: 20px auto 0;
  padding-right: 40px;
}
.office-wrapper .office-content .title {
  text-align: right;
  padding-left: 40px;
}
.office-wrapper .office-header img {
  margin: 0 auto;
}
.office-wrapper .office-desc li {
  margin-bottom: 10px;
}
.office-wrapper .office-links {
  margin-top: 20px;
  text-align: right;
}
.office-wrapper .office-links i {
  padding-top: 10px;
}
.office-wrapper .office-links a {
  display: inline-block;
  padding: 0 20px;
  border-right: 1px solid #a99781;
  line-height: 45px;
  color: #797e83;
}
.office-wrapper .office-links a:hover {
  color: #a99781;
}
.office-wrapper .office-links a:nth-last-child(1) {
  border-right: 0;
  padding-right: 0;
}

.psn-container .row {
  background-color: #ddd1c5;
}
.psn-container .row .psn-container-inner {
  background-color: #fff;
}

.desc h2 {
  letter-spacing: initial;
  margin: 0;
}
.desc h3 {
  margin-top: 0;
}

.sidebar-align-conditions {
  padding-top: 10px;
}

.conditions-padding {
  padding: 40px 80px;
}

.conditions-table {
  text-align: center;
  margin-bottom: 30px;
}
.conditions-table .row {
  margin-left: -5px;
  margin-right: -5px;
  background-color: #fff;
}
.conditions-table h4 {
  font-size: 18px;
  font-weight: bold;
  color: #00237d;
  letter-spacing: initial;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: 30px 0;
}
.conditions-table .grid-item {
  padding: 5px;
}
.conditions-table .grid-item a {
  text-align: center;
  background-color: #d1d1d1;
  padding: 20px 10px;
  font-weight: 600;
  color: #00237d;
  display: block;
}
.conditions-table .grid-item a:hover {
  color: #00237d;
  background-color: #e5e5e5;
}
.conditions-table th {
  text-align: center;
  text-transform: uppercase;
}
.conditions-table td {
  background-color: #d1d1d1;
  border: 10px solid #fff;
  color: #00237d;
  font-weight: bold;
  line-height: 40px !important;
}
.conditions-table td:hover {
  background-color: #e5e5e5;
}
.conditions-table td a {
  color: #00237d;
  display: block;
}
.conditions-table td a:active, .conditions-table td a:focus {
  text-decoration: none;
}

.hospital-wrapper {
  padding: 0 60px;
  margin-bottom: 40px;
}

.hospital-desc {
  padding-left: 25px;
}

.hospital-logo-container {
  width: inherit;
}

@media (min-width: 992px) {
  .hospital-logo-container {
    width: 30%;
  }
}
.todo-item {
  clear: both;
  margin-bottom: 20px;
  display: table;
}
.todo-item .img {
  width: 12%;
  float: left;
}
.todo-item .content {
  width: 85%;
  float: left;
}
.todo-item li {
  font-weight: 300;
  margin-bottom: 10px;
}

#psn-faq {
  margin-bottom: 0 !important;
}
#psn-faq .panel {
  border-radius: 0;
}
#psn-faq .panel .panel-heading {
  border: none;
}
#psn-faq .panel .panel-heading .panel-title {
  color: #000;
}
#psn-faq .panel .panel-body {
  border: none;
  background-color: #ddd1c5;
}
#psn-faq .panel-active > .panel-heading {
  background-color: #ddd1c5;
}
#psn-faq .panel + .panel {
  margin-top: 0;
}
#psn-faq .panel-title > a {
  display: block;
}

.news-wrapper {
  margin-bottom: 40px;
}
.news-wrapper > .row {
  margin-left: -20px;
  margin-right: -20px;
}

.news-wrapper-list {
  margin-bottom: 0;
}

.news-item {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}

.psn-article .feature-image {
  width: 100%;
  max-width: 900px;
}
.psn-article .psn-entry-title, .psn-article .psn-entry-title {
  text-align: center;
}
.psn-article .psn-entry-title {
  margin-bottom: 15px;
}
.psn-article .psn-entry-date {
  text-align: center;
}
.psn-article .psn-entry-date li {
  list-style-type: none;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #00237d;
  font-size: 12px;
  font-weight: 500;
}
.psn-article .btn {
  margin: 30px auto;
  width: 200px;
  display: block;
}
.psn-article .psn-entry-desc {
  padding: 0 60px 30px;
}
.psn-article .psn-entry-desc .video {
  margin: 30px 0;
}
.psn-article .psn-entry-desc img {
  margin: 60px 0;
}
.psn-article .psn-entry-desc h5 {
  text-align: center;
  margin: 40px 0 20px;
}
.psn-article .psn-entry-desc ul, .psn-article .psn-entry-desc ol {
  color: #826c4c;
}
.psn-article .psn-entry-desc .pull-quote {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2.25em;
}
.psn-article .psn-entry-desc .pull-quote::before, .psn-article .psn-entry-desc .pull-quote::after {
  content: none;
}
.psn-article .psn-entry-desc .pull-quote.right, .psn-article .psn-entry-desc .pull-quote.left {
  width: 35%;
}
.psn-article .psn-entry-desc .pull-quote.right {
  float: right;
  margin: 50px 0 50px 50px;
  text-align: left;
}
.psn-article .psn-entry-desc .pull-quote.left {
  float: left;
  margin: 50px 50px 50px 0;
  margin-left: -25%;
  text-align: right;
}
.psn-article .psn-entry-desc .pull-quote.center {
  margin: 30px auto;
  width: 80%;
}
.psn-article .psn-entry-desc q {
  font-size: 1.75em;
  line-height: 1.25em;
  text-align: left;
  font-weight: 300;
  word-wrap: break-word;
}
.psn-article .detail-top {
  margin-top: 60px;
}
.psn-article .detail-bottom {
  margin-bottom: 60px;
}

.psn-article-sm {
  background-color: #fff;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.psn-article-sm:hover {
  background-color: #e5e5e5;
}
.psn-article-sm a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  text-indent: -9999px;
}
.psn-article-sm .psn-entry-title {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 15px;
  line-height: 24px;
}
.psn-article-sm .psn-entry-date ul {
  padding: 0;
}
.psn-article-sm .psn-entry-date li {
  list-style-type: none;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #00237d;
  font-size: 12px;
  font-weight: 500;
}
.psn-article-sm p {
  padding: 0;
}

.news-related {
  padding: 40px;
  background-color: #eeeeee;
}
.news-related h5 {
  font-size: 16px;
  font-weight: 500;
}
.news-related a {
  display: block;
  color: #826c4c;
  padding: 10px 0;
  border-bottom: 1px solid #c4c4c4;
}

.news-controls {
  position: fixed;
  width: 100%;
  top: 50%;
}
