// Conditions Specific Styles

.psn-container {
 .row {
 	background-color: $light-gold;

 	.psn-container-inner {
 		background-color: $white;
 	}
 }
}

.desc{
	h2 {
		letter-spacing: initial;
		margin: 0;
	}
	h3 {
		margin-top: 0;
	}
}

.sidebar-align-conditions{
  padding-top:10px;
}

.conditions-padding{
	padding:40px 80px;
}

.conditions-table {
	text-align: center;
  margin-bottom: 30px;

  .row{
    margin-left:-5px;
    margin-right:-5px;
    background-color: $white;
  }

	h4 {
		font-size: 18px;
		font-weight: bold;
		color: $blue;
		letter-spacing: initial;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		margin: 30px 0;
	}
  .grid-item{
    padding:5px;

    a{
      text-align: center;
      background-color: $med-gray;
      padding:20px 10px;
      font-weight: 600;
      color:$blue;
      display: block;

      &:hover{
        color:$blue;
        background-color: $light-gray;
      }
    }
  }

	th {
		text-align: center;
		text-transform: uppercase;
	}

	td {
		background-color: $med-gray;
		border: 10px solid $white;
		color: $blue;
		font-weight: bold;
		line-height: 40px !important;

		&:hover {
			background-color: $light-gray;
		}

		a {
			color: $blue;
			display: block;

			&:active, &:focus {
				text-decoration: none;
			}
		}
	}
}
