// Conditions Specific Styles

.psn-container {
 .row {
 	background-color: $light-gold;

 	.psn-container-inner {
 		background-color: $white;
 	}
 }
}

.desc{
	h2 {
		letter-spacing: initial;
		margin: 0;
	}
	h3 {
		margin-top: 0;
	}
}

.conditions-table {
	text-align: center;
  margin-bottom: 30px;

	h4 {
		font-size: 18px;
		font-weight: bold;
		color: $blue;
		letter-spacing: initial;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		margin: 30px 0;
	}

	th {
		text-align: center;
		text-transform: uppercase;
	}

	td {
		background-color: $med-gray;
		border: 10px solid $white;
		color: $blue;
		font-weight: bold;
		line-height: 40px !important;

		&:hover {
			background-color: $light-gray;
		}

		a {
			color: $blue;
			display: block;

			&:active, &:focus {
				text-decoration: none;
			}
		}
	}
}
