.office-wrapper{
	margin-bottom: 80px;


	.office-content{
		width:100%;
		max-width: 970px;
		margin:20px auto 0;

		.title{
			text-align: center;
		}
	}
	.office-header{
		img{
			margin:0 auto;
		}
	}

	.office-desc{
		li{
			margin-bottom:10px;
		}
	}

	.office-links{
		margin-top: 20px;
		text-align: center;
	  	margin-bottom:20px;

		i{
			padding-top: 10px;
		}

		a{
			display: inline-block;
			padding: 0 20px 0 0;
			border-right: 1px solid $gold;
			line-height: 45px;
			color:$grey;

			&:hover{
				color:$gold;
			}

			&:nth-last-child(1){
				border-right: 0;
				padding-right:0;
			  	padding-left:20px;
			}
		}

	}

}



@include breakpoint(tablet){

  .office-wrapper{
	padding: 0 15px;

	.office-content{
	  margin:20px auto 0;
	  padding-right:0px;

	  .title{
		text-align: center;
		padding-left: 0px;
	  }
	}

  }

}

@include breakpoint(laptop){

  .office-wrapper{
	padding: 0px;

	.office-content{
	  padding-right:40px;

	  .title{
		text-align: right;
		padding-left: 40px;
	  }
	}

	.office-links{
	  margin-top: 20px;
	  text-align: right;
	}

  }

}
