#psn-faq {
	margin-bottom: 0 !important;

	// Accordion Styles
	.panel {
		border-radius: 0;

		.panel-heading {
			border: none;
			background-color: #fff;
			padding:25px 20px;
			@include transition(all .3s);

			.panel-title {
				color: $polaris-blue;
				font-weight: bold;
				text-transform: none;
				letter-spacing: initial;

				.fa {
					line-height: 41px;
					-webkit-transition: all 0.25s linear;
					-moz-transition: all 0.25s linear;
					-ms-transition: all 0.25s linear;
					-o-transition: all 0.25s linear;
					transition: all 0.25s linear;

					&.faq-close {

						/* Safari */
						-webkit-transform: rotate(-45deg);
						/* Firefox */
						-moz-transform: rotate(-45deg);
						/* IE */
						-ms-transform: rotate(-45deg);
						/* Opera */
						-o-transform: rotate(-45deg);
						/* Internet Explorer */
						filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
						-webkit-transition: all 0.25s linear;
						-moz-transition: all 0.25s linear;
						-ms-transition: all 0.25s linear;
						-o-transition: all 0.25s linear;
						transition: all 0.25s linear;
					}
				}
			}
		}

		.panel-body {
			border: none;
			background-color: $light-gray;
			color: $dk-gold;
			font-size: em(18px);
			padding-top:0;
			padding-left:20px;
			padding-right:20px;
			line-height: 24px;
		}
	}

	.panel-active > .panel-heading {
		background-color: $light-gray;

		& > .panel-title{
			color:$link-hover;
		}
	}

	.panel+.panel {
		margin-top: 0;
	}
	// Make the whole panel heading clickable
	.panel-title > a {
		display: block;

		&:focus{
			text-decoration: none;
		}
	}
}

.panel-default {
	background-color: #fff;
	border-color:transparent;
	border-bottom: 1px solid $gold;
	border-top: none;
	border-left: none;
	border-right: none;

	&:last-child {
		border-bottom: none;
	}
}

@include breakpoint(tablet){

  #psn-faq {

	// Accordion Styles
	.panel {

	  .panel-heading {
		padding: 25px 100px;
	  }

	  .panel-body {
		padding-left:100px;
		padding-right:100px;
	  }
	}
  }

}

@include breakpoint(laptop){

}
