.hospital-wrapper{
  padding:0 60px;
  margin-bottom:40px;
}


.hospital-logo-container{
	width:inherit;
  	float: none;

  a{
	display: block;
  }

  img{
	margin:0 auto;
	padding-bottom: 20px;
  }
}

@include breakpoint(tablet){
  .hospital-desc{
	padding-left:25px;
  }
}

@include breakpoint(laptop){
	.hospital-wrapper{
	 padding:0;
	  margin-bottom:40px;
	}

	.hospital-logo-container{
		width:30%;
	}

	.hospital-logo-container{
	  width:inherit;
	  float: left;

	  img{
		padding-bottom: 0;
	  }
	}
}
