.hospital-wrapper{
  padding:0 20px;
  margin-bottom:40px;
  display: inline-block;
}

.hospital-logo-container{
	width:inherit;
  	float: none;
    text-align: center;

  a{
	display: inline-block;
  }

  img{
	margin:0 auto;
	padding-bottom: 20px;
  }
}

@include breakpoint(tablet){
  .hospital-wrapper{
    padding:0 30px;
    margin-bottom:40px;
  }
}

@include breakpoint(desktop){
  .hospital-wrapper{
    padding:0 60px;
    margin-bottom:40px;
  }
}
