.news-wrapper{
	margin:0;
  	padding-bottom: 20px;
	&>.row{
		margin-left:-20px;
		margin-right:-20px;
	}

}

.news-margin{
  margin-bottom:30px;
}

.news-wrapper-list{
	margin-bottom:0;

	&>.row{
	  margin-left:0;
	  margin-right:0;
	}
}

.news-item{
	margin-bottom:30px;
  	padding:0;

		&:nth-child(2n+1){
			clear:both;
		}
}

.psn-article{

	.feature-image{
		width: 100%;
		max-width: 900px;
	}

	.psn-entry-title, .psn-entry-title{
		text-align: center;
	}

	.psn-entry-title{
		margin-top:30px;
		margin-bottom:15px;
	}

	.psn-entry-date{
		text-align: center;

	  	ul{
		  padding:0;
		}

		li{
			list-style-type: none;
			margin-bottom:15px;
			text-transform: uppercase;
			color:$blue;
			font-size: 12px;
			font-weight: 500;
		}
	}

	.btn{
		margin:30px auto;
		width:200px;
		display:block;
	}

	.psn-entry-desc{
		padding:0 20px;

		.video{
			margin:30px 0;
		}

		img{
			margin:30px 0;
		}

		h5{
			text-align: center;
			margin:40px 0 20px;
		}

		ul, ol{
			color:$dk-gold;
		}

		.pull-quote{
			width:90%;
			margin:0 auto;
			text-align: center;
			margin-bottom:em(36px);

			&::before, &::after{
				content: none;
			}

			&.right, &.left{
				width:35%;
			}

			&.right{
				float:right;
				margin: 50px 0 50px 50px;
				text-align: left;
			}

			&.left{
				float:left;
				margin: 50px 50px 50px 0;
				margin-left: -25%;
				text-align: right;
			}

			&.center{
				margin:30px auto;
				width:80%;
			}
		}

		q{
			font-size: em(28px);
			line-height: em(20px);
			text-align: left;
			font-weight: 300;
			word-wrap: break-word;
		}
	}

	.detail-top{
		margin-top:30px;
	}

	.detail-bottom{
		margin-bottom:30px;
	}

}

.psn-article-sm{
	background-color: $white;
	padding:30px;
	position: relative;
	@include transition(all .3s ease);

	&:hover{
		background-color: $light-gray;
	}

	a{
		display: block;
		position: absolute;
		width:100%;
		height:100%;
		z-index: 2;
		top:0;
		left:0;
		text-indent: -9999px;
	}

	.psn-entry-title{
		margin-top:0;
		font-size:24px;
		margin-bottom:15px;
		line-height: 24px;
	}

	.psn-entry-date{

		ul{
			padding:0;
		}

		li{
			list-style-type: none;
			margin-bottom:15px;
			text-transform: uppercase;
			color:$blue;
			font-size: 12px;
			font-weight: 500;
		}
	}

	p{
		padding:0;
	}
}

.news-related{
  	display: block;
  	max-width: 900px;
  	width:100%;
  	margin:0 auto;
	padding:40px;
	background-color: $gray-lighter;

	h5{
		font-size: 16px;
		font-weight: 500;
	}

	a{
		display: block;
		color:$dk-gold;
		padding:10px 0;
		border-bottom:1px solid lighten($gray-light, 30%);
	}
}

.news-controls{
	position: relative;
	width:100%;
	z-index: 100;
  	display: table;

	.left, .right{
		position:relative;
		height:55px;
		background-color: $light-gray;
		@include transition(all .3s ease-in-out);
		width: 50%;
		float:left;

		&.over{

		}

	}

	.left{
		left:0;
		padding:20px 0 0 20px;
	}
	.right{
		right:0;
	  	text-align: right;
	  	padding:20px 20px 0 0;
	}

	.textRight{
		position:relative;
		width:80%;
		padding-right:5px;
		top:-3px;
		opacity: 1;
		color:$black;
		@include transition(all .2s ease-in);

	  &.over{
		color:$white;
	  }
	}

	.textLeft{
		position: relative;
		width:80%;
		text-align: right;
		padding-right:20px;
	  	padding-left:5px;
	  	top:-3px;
		opacity: 1;
		color:$black;
		@include transition(all .2s ease-in);

	  &.over{
		color:$white;
	  }
	}

	a{
		position: absolute;
		height:100%;
		width:100%;
		top:0;
		left:0;
	}

}


@include breakpoint(tablet){

  .news-wrapper{
	padding-left:0;
	padding-right:0;
  }

  .news-controls{
	position: fixed;
	// position: -webkit-sticky;
	// position: -moz-sticky;
	// position: -ms-sticky;
	// position: -o-sticky;
	width:100%;
	top:90%;
	z-index: 100;
	@include transform(translateY(-90%));

	.left, .right{
	  position:absolute;
	  height:55px;
	  background-color: $light-gray;
	  @include transition(all .3s ease-in-out);
	  width: 150px;

	  &.over{
		width: 250px;
		background-color: $blue;
		color:$white;

		.textLeft, .textRight{
		  color:$white;
		}
	  }

	}

	.left{
	  left:0;
	  padding:20px;
	}
	.right{
	  right:0;
	  padding:20px;
	  text-align:left;
	}

	.textRight{
	  position: absolute;
	  width:80%;
	  top:50%;
	  opacity: 1;
	  color:$black;
	  @include transition(all .2s ease-in);
	  @include transform(translateY(-50%));

	  &.over{
		color:$white;
	  }
	}

	.textLeft{
	  position: absolute;
	  width:80%;
	  text-align: right;
	  padding-right:20px;
	  top:50%;
	  padding-left:20px;
	  opacity: 1;
	  color:$black;
	  @include transition(all .2s ease-in);
	  @include transform(translateY(-50%));

	  &.over{
		color:$white;
	  }
	}

	a{
	  position: absolute;
	  height:100%;
	  width:100%;
	  top:0;
	  left:0;
	}

  }

  .psn-entry-desc {
	img {
	  margin: 60px 0;
	}
  }

  .news-wrapper-list{
	margin-bottom:0;

	&>.row{
	  margin-left:15px;
	  margin-right:15px;
	}
  }
  .psn-article{

	.psn-entry-title{
	  margin-top:60px;
	}

	.psn-entry-desc {
	  padding: 0 60px 30px;
	}

	.detail-top{
	  margin-top:60px;
	}

	.detail-bottom{
	  margin-bottom:60px;
	}
  }

  .news-item{
	padding-left:20px;
	padding-right:20px;
  }

}

@include breakpoint(laptop){

  .news-controls {
	top:50%;
	@include transform(translateY(-50%));

	.left, .right{
	  width:70px;
	  height:80px;
	}

	.left{
	  padding:30px 15px 30px 30px;
	}

	.right{
	  padding:30px 30px 30px 15px;
	}

	.textRight{
	  width:80%;
	  top:50%;
	  opacity: 0;
	  color:$white;
	  @include transition(all .2s ease-in);
	  @include transform(translateX(200%) translateY(-50%));

	  &.slideRight{
		opacity: 1;
		@include transition-delay(.3s);
		@include transform(translateX(0) translateY(-50%));
	  }
	}

	.textLeft{
	  width:80%;
	  text-align: right;
	  padding-right:20px;
	  top:50%;
	  padding-left:20px;
	  opacity: 0;
	  color:$white;
	  @include transition(all .2s ease-in);
	  @include transform(translateX(-200%) translateY(-50%));

	  &.slideLeft{
		opacity: 1;
		@include transition-delay(.1s);
		@include transform(translateX(0) translateY(-50%));
	  }
	}
  }

  .news-margin{
	margin-bottom:40px;
  }

  .news-item{
	margin-bottom:40px;
  }

  .news-wrapper-list{
		margin-bottom:0;

		&>.row{
		  margin-left:-20px;
		  margin-right:-20px;
		}
  }
}
