.news-wrapper{
	margin-bottom:40px;

	&>.row{
		margin-left:-20px;
		margin-right:-20px;
	}
}

.news-wrapper-list{
	margin-bottom:0;
}

.news-item{
	padding-left:20px;
	padding-right:20px;
	margin-bottom:40px;
}

.psn-article{

	.feature-image{
		width: 100%;
		max-width: 900px;
	}

	.psn-entry-title, .psn-entry-title{
		text-align: center;
	}

	.psn-entry-title{
		margin-bottom:15px;
	}

	.psn-entry-date{
		text-align: center;

		li{
			list-style-type: none;
			margin-bottom:15px;
			text-transform: uppercase;
			color:$blue;
			font-size: 12px;
			font-weight: 500;
		}
	}

	.btn{
		margin:30px auto;
		width:200px;
		display:block;
	}

	.psn-entry-desc{
		padding:0 60px 30px;;

		.video{
			margin:30px 0;
		}

		img{
			margin:60px 0;
		}

		h5{
			text-align: center;
			margin:40px 0 20px;
		}

		ul, ol{
			color:$dk-gold;
		}

		.pull-quote{
			width:90%;
			margin:0 auto;
			text-align: center;
			margin-bottom:em(36px);

			&::before, &::after{
				content: none;
			}

			&.right, &.left{
				width:35%;
			}

			&.right{
				float:right;
				margin: 50px 0 50px 50px;
				text-align: left;
			}

			&.left{
				float:left;
				margin: 50px 50px 50px 0;
				margin-left: -25%;
				text-align: right;
			}

			&.center{
				margin:30px auto;
				width:80%;
			}
		}

		q{
			font-size: em(28px);
			line-height: em(20px);
			text-align: left;
			font-weight: 300;
			word-wrap: break-word;
		}
	}

	.detail-top{
		margin-top:60px;
	}

	.detail-bottom{
		margin-bottom:60px;
	}

}



.psn-article-sm{
	background-color: $white;
	padding:30px;
	position: relative;
	@include transition(all .3s ease);

	&:hover{
		background-color: $light-gray;
	}

	a{
		display: block;
		position: absolute;
		width:100%;
		height:100%;
		z-index: 2;
		top:0;
		left:0;
		text-indent: -9999px;
	}

	.psn-entry-title{
		margin-top:0;
		font-size:24px;
		margin-bottom:15px;
		line-height: 24px;
	}

	.psn-entry-date{

		ul{
			padding:0;
		}

		li{
			list-style-type: none;
			margin-bottom:15px;
			text-transform: uppercase;
			color:$blue;
			font-size: 12px;
			font-weight: 500;
		}
	}

	p{
		padding:0;
	}
}

.news-related{
	padding:40px;
	background-color: $gray-lighter;

	h5{
		font-size: 16px;
		font-weight: 500;
	}

	a{
		display: block;
		color:$dk-gold;
		padding:10px 0;
		border-bottom:1px solid lighten($gray-light, 30%);
	}
}

.news-controls{
	position: fixed;
	width:100%;
	top:50%;
}


@include breakpoint(tablet){

}

@include breakpoint(laptop){

}
