
//overlap effect setup
.overlap-above{
	// padding-bottom:40px;
	p{
		&:nth-last-child(1){
			padding-bottom:40px;
		}
	}
}

.overlap-bottom-wrapper{
	height:auto;
	position:relative;
	padding: 0;
}

.overlap-below{
	padding: 5px 0;
	// top:-240px;
	position:relative;
	width:100%;
	max-width:900px;
	margin:0 auto;
	height:100%;
}

.below-content{
	padding:0 60px;
	top:0;
	position:relative;

  .inner-wrapper{
	padding:0 15px;
  }

}

.doctor-wrapper{
	display:table;

	.doctor-portrait{
		padding-bottom:30px;
		color:$polaris-blue;

		img{
			max-width: 180px;
			margin:0 auto;
		}

		h4{
			margin-top: 15px;
			font-weight: 600;
		}

		span{
			font-weight: 400;
		}

	}
}

//Facilities section - aka office
.office-thumb-wrapper{
	padding: 35px 40px 0;
	display: block;
}

.office-content{
  margin-bottom:35px;

	h5{
		text-align: center;
		font-size: 16px;
		color:$blue;
		font-weight: 400;
	}
}


///Accordian styles
.psn-group{
	margin-bottom:0;
	background-color:transparent;

	.psn-panel{
		border-radius: 0;
		border:none;
	}

	.psn-heading{
		background-color:$gold;
		border-radius:0;
		color:$white;
		text-transform: uppercase;
		position: relative;
		height: 37px;
	}

	.psn-title{
		font-weight: 400;
		letter-spacing: 4px;
		line-height: 22px;
	  	font-weight: bold;

		span{
			padding:0 0 0 5px;
		}

		a{
			display: block;
			position:absolute;
			width:100%;
			height:100%;
			top:0;
			left:0;
			padding: 8px 0 0 10px;

			&:focus{
				text-decoration: none;
				outline:5px auto $tan;
			}

			&:hover{
				color:$blue;
			}


		}
		.collapsed{

			&::after{
				@include transform(rotate(90deg));
			}
		}
	}

	.psn-body{
		padding:0;
		overflow: hidden;
		border-top:none !important;
	}

	.psn-panel-img{
		position:relative;
		display:none;

		img{
			position: absolute;
			max-width: 131%;
			left:-54px;
			//tablet
			// max-width: 167%;
			// left:-125px;
		}
	}

	.psn-panel-desc{
		background-color:$white;
		padding:0 15px;

		.title{
			color:$gold;
			text-transform:uppercase;
			font-size: 18px;
			padding:20px 0;
		}

		p{
			font-size: 14px;
			line-height: 21px;
			margin-bottom: 20px;
		}
	}
}

.affiliate-wrapper{

	&.row{
		background-color: $white !important;
	}

	img{
		margin:0 auto;
		margin-bottom: 30px;
		width:100%;
	}
}

@include breakpoint(tablet){

	.overlap-bottom-wrapper{
		height:auto;
		position:relative;
		padding:0 15px;

	}

	.psn-group{

	  .psn-title {

		span {
		  padding: 0 20px;
			}
	  }

	  .psn-panel-img{
		display: block;
		  img{
			  max-width:206%;
			  left:-250px;
		  }
	  }

	  a{
		&::before, &::after{
		  content:'';
		  color:$white;
		  position:absolute;
		  top:50%;
		  margin-top:-1px;
		  height:1px;
		  width:20px;
		  right:15px;
		  background:$white;
		  @include transition(transform 0.3s 0s);
		}
	  }

	  .psn-panel-desc{
		padding:0 40px;
	  }

	}

  .office-thumb-wrapper{
	padding: 52px 60px 33px;
  }

  .office-content {
	margin-bottom: 0;
  }


}

@include breakpoint(laptop){

	.overlap-above{

		p{
			&:nth-last-child(1){
				padding-bottom:280px;
			}
		}
	}

	.below-content{
		padding:0 60px;
		top:-215px;
		position:absolute;
	}

	.overlap-bottom-wrapper{
		height:625px;
		position:relative;
	}

	.psn-group{
	  padding:0px;
		.psn-panel-img{

			img{
				max-width: 165%;
				left:-230px;
			}
		}
	}
}
