.todo-item{
	clear:both;
	margin-bottom:20px;
	display:table;

	.img{
		width:14%;
		float:left;
	}

  	img{
	  max-width: 27px;
	  width:100%;
	}

	.content{
		width:80%;
		float:left;
	}

	li{
		font-weight: 300;
		margin-bottom:10px;
	}
}

@include breakpoint(tablet){

  .todo-item{

	.img{
	  width:12%;
	}
	img{
	  max-width: 47px;
	  width:100%;
	}

	.content{
	  width:85%;
	}

  }

}

@include breakpoint(laptop){

}
