.service-header-wrapper{
	position: relative;
	display:table;
	width:100%;
	height:(467px) + $top + 30px;
}

.service-overview{
	padding: 15px 75px 60px 30px;
	z-index: 2;

	.desc{
		margin-top:30px;
	}

	.title{
		color:$blue;
		font-weight: bold;
	}
}

.service-quote{
	background-color: $gold;
	z-index: 1;
	padding:40px;


	blockquote{
		border:0;
		color:$white;
		margin:0;
		font-size: 25px;
	}
}


//SELECT BUTTONS using SELECTBOXIT



.selectboxit-filters{
	margin:20px auto;
}

.selectboxit-container{
	width:100% !important;
	font: inherit;
	display:block;
	margin-bottom: 20px;
	z-index:500;

	.fa{
		font:normal normal normal 14px/1 FontAwesome;
	}

	.fa-2x{
		font-size: 1.5em;
	}

}

.selectboxit-container .selectboxit {
  width: 100% !important; /* Width of the dropdown button */
  height:55px;
  border-radius:0;
}

.selectboxit-container .selectboxit-options{
	min-width:100% !important;
	border-radius:0;
}


/* Height and Vertical Alignment of Text */
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
  height: 100%; /* Height of the drop down */
  line-height: 55px; /* Vertically positions the drop down text */
  display: inline-block;
  max-width: none !important;
}

.selectboxit-btn {
	background-color:$white;
	background-image:none;
	border:none;
	@include transition(all .3s ease-out);
}

.selectboxit-text{
	position:relative;
	text-align:left;
	width:auto;
	font-size:36px;
	font-weight:300;
	margin-bottom:25px;
	line-height: 44px;
	color:$gold;
	font-family: $roboto;
	text-indent: 0;
}

span.selectboxit-arrow-container{
	position:relative;
	right:0;
	margin-left:7px;
	color:$gold;
}

.selectboxit .selectboxit-arrow-container .selectboxit-arrow{
	right:30px;
	left:none;
	top:33%;
}
.selectboxit-default-arrow{
	border-top:6px solid $polaris-blue;
	border-right:6px solid transparent;
	border-left:6px solid transparent;
}
// .selectboxit-btn.selectboxit-open .selectboxit-options.selectboxit-list{
// 	@include transform(translateY(-50%));
// }
.selectboxit-options.selectboxit-list{
	// @include transition(all 2.4s ease-in-out);
	@include transform(translateY(-0px));
}

.selectboxit-list{
	max-height:1500px!important;
	border:none;
	-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) !important;
	-moz-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) !important;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) !important;
}

.selectboxit-option-first{
	border-top-right-radius:0;
	border-top-left-radius:0;
}

.selectboxit-option-last{
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
}

.select-open{
	// @include transform(translate3d(0,80px,0));
}

.selectboxit .selectboxit-option-icon-container{
	margin: 0;
}

.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor{
	background-color:$link-hover;
	background-image:none;
	display: block;
	width:100%;
	text-indent: 10px;
}

//hover state
.selectboxit-btn.selectboxit-enabled:hover{
	background-color: $white;

	.selectboxit-text, .selectboxit-arrow-container{
		color:$link-hover;
	}
}

//active state
.selectboxit-btn.selectboxit-enabled:active{
	background-color: $white;
	.selectboxit-text,.selectboxit-arrow-container{
		color:$link-hover;
	}
}

//focus state
.selectboxit-btn.selectboxit-enabled:focus{
	background-color: $white;
	.selectboxit-text,.selectboxit-arrow-container{
		color:$link-hover;
	}
}

//SELECT BOX IT FORM BUTTONS
#studio-applySelectBoxIt,#studio-selectSelectBoxIt{
	height:3rem;
	background-color:$gold;
	margin-top:1rem;

}

#studio-applySelectBoxItText,#studio-selectSelectBoxItText{
	line-height:44px;
	color:$white;
}

#studio-applySelectBoxItArrow,#studio-selectSelectBoxItArrow{
	border-top:6px solid #fff;
}

#studio-applySelectBoxItOptions, #studio-selectSelectBoxItOptions{
	a{
		color:$black;
		background-color:#fff;
		@include transition(all .3s ease-out-in);

		&:hover{
			background-color:#e6e6e6;
		}
	}
}

#studio-selectSelectBoxItText{
	padding-left:10px;
	text-align:left;
}



@include breakpoint(tablet){

}

@include breakpoint(laptop){

}

////////////////////////
//service-details page
///////////////////////


.sidebar-align-services{
  padding-top:37px;
}

.condition-treatment{
	margin-bottom:80px;

	a{
		padding-right:30px;
	}
}

.learn-section{
	margin-bottom:50px;

	.row{
		background-color: $white !important;
	}

	h5{
		margin-top:20px;
	}
}





@include breakpoint(tablet){

}

@include breakpoint(laptop){

}
