{% block content %}

<div class="container-fluid psn-fluid-nav white-bg psn-content-wrapper">
		<div class="col-xs-12 psn-fluid-inner">
			<div class="404 text-center">
				<img src="{{ '404-graphic.png' | asset_url }}" alt="" />
			</div>
			<div class="content">
				<h1 class="text-center text-blue">The page you've tried to access no longer exists.</h1>
				<a class="text-gold text-center link-404" href="#">PLEASE CLICK HERE TO RETURN TO THE HOMEPAGE</a>
			</div>
		</div>


	<!-- end psn fluid inner -->
</div>
<!-- end container fluid -->
{% endblock %}
{% block scripts %}
 <script>
</script>
{% endblock %}
