{% layout "homepage-tmpl" %}

{% block content %}

	<div id="psn-nav-home" class="container-fluid" style="height:auto;">

		<!-- Interactive Nav -->
		<div class="container">

			<!-- Main Nav -->
			<div class="quiz" id="nav_0" data-toggle="buttons">

				<label class="element-animation1 btn btn-lg btn-primary btn-block active">
				<input type="radio" name="q_answer" value="1">Why Polaris</label>

				<label class="element-animation2 btn btn-lg btn-primary btn-block active">
				<input type="radio" name="q_answer" value="2">What We Do</label>

				<label class="element-animation3 btn btn-lg btn-primary btn-block active">
				<input type="radio" name="q_answer" value="3">My First Visit</label>

				<label class="element-animation4 btn btn-lg btn-primary btn-block active">
				<input type="radio" name="q_answer" value="4">Doctors</label>

				<label class="element-animation4 btn btn-lg btn-primary btn-block active">
				<input type="radio" name="q_answer" value="5">Second Opinions</label>

				<!-- <label class="element-animation4 btn btn-lg btn-primary btn-block active">
				<input type="radio" name="q_answer" value="6">Patient Stories</label> -->
			</div>

			<!-- Why Polaris Submenu -->
			<div id="nav_why" class="quiz panel-group">
				<!-- <div class="element-animation1 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">We have a conservative approach to surgery.</h3>
				    <div class="readMore">Read our philosophy</div>
			    </div>
					<a href="#"></a>
				</div> -->

				<div class="element-animation1 panel panel-default panel-horizontal">
					<div class="hidden-xs panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

					<div class="panel-body">
						<h3 class="panel-title">We have a conservative approach to surgery.</h3>
						<div class="readMore">Read our philosophy</div>
							<a href="about-overview.html"></a>
					</div>
				</div>

				<div class="element-animation2 panel panel-default panel-horizontal">
					<div class="hidden-xs panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

					<div class="panel-body">
						<h3 class="panel-title">Our specialists have years of experience.</h3>
						<div class="readMore">Learn about our doctors</div>
							<a href="team.html"></a>
					</div>
				</div>

				<div class="element-animation3 panel panel-default panel-horizontal">
					<div class="hidden-xs panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

					<div class="panel-body">
						<h3 class="panel-title">We perform innovative treatments in our new Spine Wellness Center</h3>
						<div class="readMore">Explore our sixth floor</div>
							<a href="service.html"></a>
					</div>
				</div>

				<div class="element-animation4 panel panel-default panel-horizontal">
					<div class="hidden-xs panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

					<div class="panel-body">
						<h3 class="panel-title">We do MRIs and X-rays on site.</h3>
						<div class="readMore">Read more about our imaging services</div>
							<a href="service.html"></a>
					</div>
				</div>

				<div class="element-animation4 panel panel-default panel-horizontal">
			    <div class="panel-body btn-back">
				    <h3 class="panel-title">< BACK</h3>
			    </div>
				</div>
			</div>

			<!-- TODO: change html inner btns
			<!-- What We Do Submenu -->
			<div id="nav_what" class="quiz panel-group">

				<div class="element-animation1 panel panel-default panel-horizontal">
					<div class="hidden-xs panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

					<div class="panel-body">
						<h3 class="panel-title">Spine</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
						<div class="readMore">Learn More</div>
						<a href="service.html"></a>
					</div>
				</div>

				<div class="element-animation2 panel panel-default panel-horizontal">
			    	<div class="hidden-xs panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

					<div class="panel-body">
						<h3 class="panel-title">Spine Wellness Center</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
						<div class="readMore">Learn More</div>
						<a href="service.html"></a>
					</div>
				</div>

				<div class="element-animation3 panel panel-default panel-horizontal">
					<div class="hidden-xs panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

					<div class="panel-body">
						<h3 class="panel-title">Outpatient Surgery Center</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
						<div class="readMore">Learn More</div>
						<a href="service.html"></a>
					</div>

				</div>

				<div class="element-animation4 panel panel-default panel-horizontal">
					<div class="hidden-xs panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

					<div class="panel-body">
						<h3 class="panel-title">Imaging</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
						<div class="readMore">Learn More</div>
						<a href="service.html"></a>
					</div>

				</div>

				<div class="element-animation1 panel panel-default panel-horizontal">
					<div class="hidden-xs panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

					<div class="panel-body">
						<h3 class="panel-title">Brain</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
						<div class="readMore">Learn More</div>
						<a href="service.html"></a>
					</div>

				</div>

				<div class="element-animation4 panel panel-default panel-horizontal">
			    <div class="panel-body btn-back">
				    <h3 class="panel-title">< BACK</h3>
			    </div>
				</div>
			</div>

			<!-- My First Visit -->
			<div id="nav_visit" class="quiz panel-group">
				<div class="element-animation1 panel panel-default panel-horizontal">
					<div class="hidden-xs panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

					<div class="panel-body">
						<h3 class="panel-title">Print Directions</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
						<div class="readMore">Download PDF</div>
						<a href="#0"></a>
					</div>
				</div>

				<div class="element-animation2 panel panel-default panel-horizontal">
					<div class="hidden-xs panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

					<div class="panel-body">
						<h3 class="panel-title">See A Checklist</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
						<div class="readMore">Build A Checklist</div>
						<a href="second-opinions.html"></a>
					</div>

				</div>

				<div class="element-animation3 panel panel-default panel-horizontal">
					<div class="hidden-xs panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

					<div class="panel-body">
						<h3 class="panel-title">Tour the Office</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
						<div class="readMore">Learn More</div>
						<a href="facilities.html"></a>
					</div>

				</div>

				<div class="element-animation4 panel panel-default panel-horizontal">
					<div class="hidden-xs panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

					<div class="panel-body">
						<h3 class="panel-title">Meet Your Doctor</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
						<div class="readMore">Learn More</div>
						<a href="team.html"></a>
					</div>
				</div>

				<div class="element-animation4 panel panel-default panel-horizontal">
			    <div class="panel-body btn-back">
				    <h3 class="panel-title">< BACK</h3>
			    </div>
				</div>
			</div>

			<!-- Second Opinions -->
			<div id="nav_opinions" class="quiz panel-group">
				<div class="element-animation1 panel panel-default panel-horizontal">
					<div class="hidden-xs panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

					<div class="panel-body">
						<h3 class="panel-title">YES, WE DO THEM.</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
						<div class="readMore">Learn More</div>
						<a href="second-opinions.html"></a>
					</div>

				</div>

				<div class="element-animation2 panel panel-default panel-horizontal">
			    <div class="panel-body btn-back">
				    <h3 class="panel-title">< BACK</h3>
			    </div>
				</div>
			</div>

		</div>

	</div>

	<!-- Modal -->
	<div class="modal fade" data-backdrop="static" data-keyboard="false" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">


	      <div class="modal-header">
	      	<img src="http://www.atlantaspinesurgery.com/wp-content/themes/ass/ui/ass_logo.png" alt="">

	      	
					
					<br>

	        
	      </div>

	      <div class="modal-body">
	      	<!-- Welcome -->
	        <div class="row">
	        	<h1 class="modal-title" id="label">Atlanta Spine Surgery is now Polaris Spine &amp; Neurosurgery Center</h1>
	        	<p id="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quisquam, labore aut culpa quae repellendus beatae sequi odio explicabo, ex necessitatibus, dignissimos modi? Mollitia minima, pariatur voluptates quos quas atque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut aspernatur nisi velit amet, tenetur corporis natus culpa libero ratione? Molestiae fuga assumenda quidem minima ipsa nesciunt voluptate consectetur, modi reprehenderit.</p>
	        	<button class="btn btn-primary">Continue to polarisspine.com</button>
	        </div>

	        <!-- Logo -->
	        <!-- <img src="http://www.atlantaspinesurgery.com/wp-content/themes/ass/ui/ass_logo.png" alt=""> -->

	      </div>

	      <!-- <div class="modal-footer"></div> -->

	    </div>
	  </div>
	</div>


{% endblock %}
