{% block content %}
{% include "blue-header" %}
<div class="psn-container">
	<div class="header-image">
		<img class="img-responsive" src="{{ 'doctor-lg.jpg' | asset_url }}" alt="">
		<div class="doctor-name">
			<h2>Dr. Shance Mangrum, MD</h2>
		</div>
	</div>
</div>

<div class="psn-container">
	<div class="row no-margin">

		<!-- main content -->
		<div class="col-xs-12 col-sm-12 col-md-9 col-md-push-3 no-headline psn-container-inner sidebar-align-conditions">

			<!-- Education -->
			<div class="text-gold">

				<div class="desc">

					<!-- TODO: Switch h2 and h3 -->
					<h3>Spine Conditions</h3>
					<h2>education</h2>


					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, tempora? Commodi expedita sed veniam nam perspiciatis est, laudantium quod iure iusto illo cupiditate distinctio quidem quae veritatis rem ipsum? Explicabo.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam fuga, repellendus aspernatur. Fugit rerum doloremque, quaerat accusamus, commodi necessitatibus dolorum debitis vitae quam non facilis ut temporibus, est similique nostrum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, expedita veniam id, dolore officiis ut provident cum facere optio asperiores, rem? Veritatis officia, earum facilis quaerat aliquid soluta ipsum atque.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita asperiores accusantium.</p>

				</div> <!-- /desc -->
			</div> <!-- /text-gold -->

			<!-- Conditions Table -->
			<div class="conditions-table white-bg sidebar-align-conditions">
				<!-- TODO: Change h2 in umbraco -->
				<!-- Table Title -->
				<h2>Spine-related conditions</h2>

				<div class="row">

				  <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
				  	<a href="conditions-details.html">Back pain</a>
				  </div>
					<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
				  	<a href="conditions-details.html">Scoliosis</a>
				  </div>
					<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
				  	<a href="conditions-details.html">Spainal Stenosis</a>
				  </div>

					<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
				  	<a href="conditions-details.html">Herniated Discs</a>
				  </div>
					<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
				  	<a href="conditions-details.html">Spinal Fractures</a>
				  </div>
					<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
				  	<a href="conditions-details.html">Spinal Tumors</a>
				  </div>

					<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
				  	<a href="conditions-details.html">Radicular Problems</a>
				  </div>
					<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
				  	<a href="conditions-details.html">Spinal Instability</a>
				  </div>
					<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
				  	<a href="conditions-details.html">Spondylosis</a>
				  </div>

					<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
				  	<a href="conditions-details.html">Sciatica</a>
				  </div>

				</div>

			</div>


		</div> <!-- /psn-container-inner -->

		<!-- sidebar -->
		<div class="col-xs-12 col-sm-12 col-md-3 col-md-pull-9 tan-bg no-padding psn-sidebar-container">
			<div class="psn-sidebar-wrapper">
				<div class="sidebar-title">
					<h2>Area of focus</h2>
				</div>
				<div class="sidebar-names">
					<a href="conditions.html" class="active">Spine</a>
					<a href="conditions.html">Brain</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}
