{% block content %}
{% include "blue-header" %}

<div class="container-fluid white-bg psn-content-wrapper">
	<div class="row">
		<div class="col-xs-12 psn-fluid-inner">

			<div class="intro-text text-gold">
				<p>At Polaris, we work exclusively with patients experiencing an array of spinal conditions, ranging from mild issues – such as certain disc pains or bone spurs – to more serious conditions – such as spinal stenosis and degenerative disc disease. Our team of experts has decades of experience behind its members and strives tirelessly to stay current and skilled usintg the most up to date diagnostic equipment to pinpoint the root cause of your back pain. Regardless of the condition, we have the ability to locate and treat it as effectively as possible.</p>
			</div>

			<!-- Affiliate 1 -->
			<div class="hospital-wrapper">
				<div class="row">
				  <div class="col-xs-12 col-md-3 no-padding hospital-logo-container">
						<div class="hospital-logo">
							<img class="img-responsive" src="{{'northside-logo.jpg' | asset_url}}" alt="" />
						</div>
				  </div>
					<div class="col-xs-12 col-md-8 no-padding">
				  	<div class="hospital-desc">
				  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				  	</div>
				  </div>
				</div>
			</div>
			<!-- End Affiliate 1 -->

			<!-- Affiliate 2 -->
			<div class="hospital-wrapper">
				<div class="row">
				  <div class="col-xs-12 col-md-3 no-padding hospital-logo-container">
						<div class="hospital-logo">
							<img class="img-responsive" src="{{'piedmont-logo.jpg' | asset_url}}" alt="" />
						</div>
				  </div>
					<div class="col-xs-12 col-md-8 no-padding">
				  	<div class="hospital-desc">
				  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				  	</div>
				  </div>
				</div>
			</div>
			<!-- End Affiliate 2 -->

			<!-- Affiliate 3 -->
			<div class="hospital-wrapper">
				<div class="row">
				  <div class="col-xs-12 col-md-3 no-padding hospital-logo-container">
						<div class="hospital-logo">
							<img class="img-responsive" src="{{'saint-joseph-logo.jpg' | asset_url}}" alt="" />
						</div>
				  </div>
					<div class="col-xs-12 col-md-8 no-padding">
				  	<div class="hospital-desc">
				  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				  	</div>
				  </div>
				</div>
			</div>
			<!-- End Affiliate 3 -->

		</div>
	</div>

	<!-- end psn fluid inner -->
</div>
<!-- end container fluid -->
{% endblock %}
{% block scripts %}
 <script>
</script>
{% endblock %}
