{% layout "homepage-tmpl" %}

{% block content %}

	<!-- <div class="container-fluid">
		<div class="psn-container text-center">
			<ul class="psn-nav-content">
				<li><a href="">Why Polaris</a></li>
				<li class="has-children">
					<a href="">What we do</a>
					<ul class="psn-secondary-nav is-hidden">
						<li class="go-back"><a href="#">Go back</a></li>
						<li>Sub item 1</li>
						<li>Sub item 2</li>
					</ul>
				</li>
				<li><a href="">My first visit</a></li>
				<li><a href="">Doctors</a></li>
				<li><a href="">Second Opinions</a></li>
				<li><a href="">Patient Stories</a></li>
			</ul>
		</div>
	</div> -->

	<div id="psn-nav-home" class="container-fluid" style="height:auto;">
		
		<!-- Level One -->
		<div class="container">
			<div class="quiz" id="nav_0" data-toggle="buttons">

				<label class="element-animation1 btn btn-lg btn-primary btn-block">
				<input type="radio" name="q_answer" value="1">Why Polaris</label>

				<label class="element-animation2 btn btn-lg btn-primary btn-block">
				<input type="radio" name="q_answer" value="2">What We Do</label>

				<label class="element-animation3 btn btn-lg btn-primary btn-block">
				<input type="radio" name="q_answer" value="3">My First Visit</label>

				<label class="element-animation4 btn btn-lg btn-primary btn-block">
				<input type="radio" name="q_answer" value="4">Doctors</label>

				<label class="element-animation4 btn btn-lg btn-primary btn-block">
				<input type="radio" name="q_answer" value="5">Second Opinions</label>

				<label class="element-animation4 btn btn-lg btn-primary btn-block">
				<input type="radio" name="q_answer" value="6">Patient Stories</label>

			</div>
						
			<!-- Why Polaris Submenu -->
			<div id="nav_why" class="quiz panel-group">
				<div class="element-animation1 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">We have a conservative approach to surgery.</h3>
				    <a href="#" class="readMore">Read our philosophy</a>
			    </div>
				</div>

				<div class="element-animation2 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">Our specialists have years of experience.</h3>
				    <a href="#" class="readMore">Learn about our doctors</a>
			    </div>
				</div>

				<div class="element-animation3 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">We perform innovative treatments in our new Spine Wellness Center</h3>
				    <a href="#" class="readMore">Explore our sixth floor</a>
			    </div>
				</div>

				<div class="element-animation4 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">We do MRIs and X-rays on site.</h3>
				    <a href="#" class="readMore">Read more about our imaging services</a>
			    </div>
				</div>

				<div class="element-animation4 panel panel-default panel-horizontal">
			    <div class="panel-body btn-back">
				    <h3 class="panel-title">< BACK</h3>
			    </div>
				</div>
			</div>

			<!-- What We Do Submenu -->
			<div id="nav_what" class="quiz panel-group">
				<div class="element-animation1 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">Spine</h3>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
				    <a href="#" class="readMore">Learn More</a>
			    </div>
				</div>

				<div class="element-animation2 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">Spine Wellness Center</h3>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
				    <a href="#" class="readMore">Learn More</a>
			    </div>
				</div>

				<div class="element-animation3 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">Outpatient Surgery Center</h3>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
				    <a href="#" class="readMore">Learn More</a>
			    </div>
				</div>

				<div class="element-animation4 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">Imaging</h3>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
				    <a href="#" class="readMore">Learn More</a>
			    </div>
				</div>

				<div class="element-animation1 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">Brain</h3>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
				    <a href="#" class="readMore">Learn More</a>
			    </div>
				</div>

				<div class="element-animation4 panel panel-default panel-horizontal">
			    <div class="panel-body btn-back">
				    <h3 class="panel-title">< BACK</h3>
			    </div>
				</div>
			</div>

			<!-- My First Visit -->
			<div id="nav_visit" class="quiz panel-group">
				<div class="element-animation1 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">Print Directions</h3>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
				    <a href="#" class="readMore">Download PDF</a>
			    </div>
				</div>

				<div class="element-animation2 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">See A Checklist</h3>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
				    <a href="#" class="readMore">Build A Checklist</a>
			    </div>
				</div>

				<div class="element-animation3 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">Tour the Office</h3>
				    <p>virtual walkthroughs of the main office, Spine Wellness Center, and Surgery Center (including where to park and how to get to each from the parking area)</p>
				    <a href="#" class="readMore">Learn More</a>
			    </div>
				</div>

				<div class="element-animation4 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">Meet Your Doctor</h3>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
				    <a href="#" class="readMore">Learn More</a>
			    </div>
				</div>

				<div class="element-animation4 panel panel-default panel-horizontal">
			    <div class="panel-body btn-back">
				    <h3 class="panel-title">< BACK</h3>
			    </div>
				</div>
			</div>

			<!-- Second Opinions -->
			<div id="nav_opinions" class="quiz panel-group">
				<div class="element-animation1 panel panel-default panel-horizontal">
			    <div class="panel-heading" style="background:url('http://placehold.it/200x200');" style="img-responsive"></div>

			    <div class="panel-body">
				    <h3 class="panel-title">YES, WE DO THEM.</h3>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus pariatur facilis earum</p>
				    <a href="#" class="readMore">Learn More</a>
			    </div>
				</div>

				<div class="element-animation2 panel panel-default panel-horizontal">
			    <div class="panel-body btn-back">
				    <h3 class="panel-title">< BACK</h3>
			    </div>
				</div>
			</div>

		</div>



	</div>
	
{% endblock %}