{% block content %}
{% include "blue-header" %}

<div class="container-fluid white-bg psn-content-wrapper">

	<div class="row">
		<div class="col-xs-12 psn-fluid-inner">

			<div class="intro-text">
				<p>Our surgeons are active members of the American Association of Neurological Surgeons, as well as other societies and associations promoting the advancement of methods to treat patients with neurological disorders and illnesses. Our physicians’ assistants are equally as involved and qualified within their field and provide patients with unsurpassed care and treatment support.</p>
			</div>

			<div class="content-wrapper">

				<div class="row">
					<!-- form -->
					<form>

						<div class="col-xs-12 col-sm-6">
							<div class="form-group psn-form-group">
								<label for="firstName">First Name</label>
								<input type="text" class="form-control" id="inputFirstName">
							</div>
						</div>

						<div class="col-xs-12 col-sm-6">
							<div class="form-group psn-form-group">
						    <label for="lastName">Last Name</label>
						    <input type="text" class="form-control" id="inputLastName">
						  </div>
						</div>

						<div class="col-xs-12 col-sm-6">
							<div class="form-group psn-form-group">
								<label for="email">email</label>
								<input type="email" class="form-control" id="inputEmail" placeholder="example@gmail.com">
							</div>
						</div>

						<div class="col-xs-12 col-sm-6">
							<div class="form-group psn-form-group">
						    <label for="phone">Phone</label>
						    <input type="text" class="form-control" id="inputPhone" placeholder="333-333-3333">
						  </div>
						</div>

						<div class="col-xs-12 col-sm-6">
							<div class="form-group psn-form-group">
								<label for="insurance">Name of insurance</label>
								<input type="text" class="form-control" id="inputInsurance">
							</div>
						</div>

						<div class="col-xs-12 col-sm-6">
							<div class="form-group psn-form-group">
								<label for="ID">ID# / Group#</label>
								<input type="text" class="form-control" id="inputID">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-group psn-form-group">
								<label for="DOB">Date of birth</label>
								<input type="text" class="form-control" id="inputDOB" placeholder="09/16/1981">
							</div>
						</div>

						<div class="col-xs-12 col-sm-12">
							<div class="form-group psn-form-group insurance-type">
								<label id="tooltip1" class="btn-insurance" tabindex="0" role="button" data-toggle="popover1" data-trigger="focus" title="PPO" data-content="A health maintenance organization (HMO) is an organization that provides or arranges managed care for health insurance, self-funded health care benefit plans, individuals, and other entities in the United States and acts as a liaison with health care providers (hospitals, doctors, etc.) on a prepaid basis.">
									<input class="insurance-radio" type="radio" name="typePPO" id="optionsRadio1" value="PPO">
									PPO
								</label>
								<label id="tooltip2" class="btn-insurance" tabindex="0" role="button" data-toggle="popover2" data-trigger="focus" title="POS" data-content="A health maintenance organization (HMO) is an organization that provides or arranges managed care for health insurance, self-funded health care benefit plans, individuals, and other entities in the United States and acts as a liaison with health care providers (hospitals, doctors, etc.) on a prepaid basis.">
									<input class="insurance-radio" type="radio" name="typePPO" id="optionsRadio2" value="PPO">
									POS
								</label>
								<label id="tooltip3" class="btn-insurance" tabindex="0" role="button" data-toggle="popover3" data-trigger="focus" title="EPO" data-content="A health maintenance organization (HMO) is an organization that provides or arranges managed care for health insurance, self-funded health care benefit plans, individuals, and other entities in the United States and acts as a liaison with health care providers (hospitals, doctors, etc.) on a prepaid basis.">
									<input class="insurance-radio" type="radio" name="typePPO" id="optionsRadio3" value="PPO">
									EPO
								</label>
								<label id="tooltip4" class="btn-insurance" tabindex="0" role="button" data-toggle="popover4" data-trigger="focus" title="EPO" data-content="A health maintenance organization (HMO) is an organization that provides or arranges managed care for health insurance, self-funded health care benefit plans, individuals, and other entities in the United States and acts as a liaison with health care providers (hospitals, doctors, etc.) on a prepaid basis.">
									<input class="insurance-radio" type="radio" name="typePPO" id="optionsRadio4" value="PPO">
									HMO
								</label>

							</div>

						</div>

						<div class="col-xs-12">
							<div class="form-group psn-form-group">
								<label for="comments">Comments</label>
								<textarea class="form-control" id="inputComments" rows="4"></textarea>
							</div>
						</div>

						<div class="col-xs-12">
							<button type="submit" class="btn btn-default psn-submit">Submit</button>
						</div>

					</form>
					<!-- end form -->
				</div>

			</div>


		</div>
	</div>

	<!-- end psn fluid inner -->
</div>
<!-- end container fluid -->
{% endblock %}
{% block scripts %}
 <script>
 (function(){

	var form = $('.insurance-type input');

	//Tooltips
	 var windowWidth = $(window).width();
	 var width = 769;
	 if( windowWidth > width){
		 var tipLength = 0;

		 $('.insurance-type').children('label').each(function(){
			 tipLength += 1;
		 });

		 for(var i= 1;i <= tipLength; i++){
			 mouseEnter(i);
			 mouseLeave(i);
		 }

		 function mouseEnter(i){
			 return $('#tooltip' + i).mouseenter(function(){
				 $('[data-toggle="popover' + i + '"]').popover('show');
			 });
		 }

		 function mouseLeave(i){
			 return $('#tooltip' + i).mouseleave(function(){
				 $('[data-toggle="popover' + i + '"]').popover('hide');
			 });
		 }
	 }


	//remove active from other elements
	function selectRadio(elem){

		$(elem).parent('label').parent('.insurance-type').children('label').each( function(index, el){
		 $(el).removeClass('active');
		});
		//add class
		$(elem).parent('label').addClass('active');

	}

	form.change(function(event) {
		selectRadio(this);
	});


 })();
</script>
{% endblock %}
