{% block content %}
<!-- logo header -->
<div class="container-fluid psn-fluid-nav blue-header" style="background-image:url('{{'header-bg.jpg' | asset_url'}}');">
	<div class="header-starburst">
		<img class="img-responsive" src="{{'starburst-header.png' | asset_url'}}" alt="" />
	</div>
	<h2>Locations</h2>
</div>

<div class="container-fluid white-bg psn-content-wrapper">
 content coming
</div>
<!-- end container fluid -->
{% endblock %}
{% block scripts %}

{% endblock %}
