{% block styles %}

	<script type="text/javascript"
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHjfEAx3kun_6_SvIHIdSl04ayMBuRRi0">
	</script>
{% endblock %}

{% block content %}
{% include "blue-header" %}

<!-- Location Controls -->

<!-- Google Map -->
<!-- TODO: add class hidden-xs -->
<div id="map-canvas" class="hidden-xs"></div>

	<!--<div id="getDirections" class="btn btn-block btn-default getDirections">
            Get Directions
            <a href="https://maps.google.com?saddr=Current+Location&daddr=33.9195276,-84.3493754" target="_blank">
                click for directions
            </a>
    </div> -->

    <!-- end container fluid -->
{% endblock %}


{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
	{{ "map.js" | asset_url | script_tag }}
{% endblock %}
