{% block content %}

<div class="container-fluid psn-fluid-nav tan-bg">

	<div class="news-controls">
		<div class="left">
			<i class="fa fa-arrow-left pull-left"></i>
			<span class="textLeft">Prev Article</span>
			<a href="#"></a>
		</div>
		<div class="right ">
			<i class="fa fa-arrow-right pull-right"></i>
			<span class="textRight">Next Article</span>
			<a href="#"></a>
		</div>
	</div>

	<div class="psn-content-wrapper">

			<!-- Feature article -->
			<div class="col-xs-12 inner-wrapper white-bg no-padding news-wrapper">

				<article class="psn-article">

					<div class="psn-news-wrapper">
						<div class="psn-entry-content">
							<div class="feature-image">
								<img class="img-responsive" src="{{ 'feature-image.jpg' | asset_url }}" alt="" />
							</div>
							<h3 class="psn-entry-title detail-top">
								Artificial Disc Replacement
							</h3>
							<div class="psn-entry-date detail-bottom">
								<ul>
									<li>July 4th, 2015</li>
								</ul>
							</div>
							<div class="psn-entry-desc">
								<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure.</p>

								<img class="img-responsive" src="{{ 'news-detail-img.jpg' | asset_url }}" alt="" />

								<p class="pull-quote right">
									<q>Important pull quote off to the left to read</q>
								</p>

								<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure.</p>

								<h5>Is this the right option for me?</h5>
								<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure.</p>

								<p class="pull-quote center">
									<q>Important pull quote centerd in the middle. This quote can be however long you want it to be</q>
								</p>

								<p>
									<div class="embed-responsive embed-responsive-16by9 video">
									  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n9BoK-gtM1o"></iframe>
									</div>
								</p>

								<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
								<p>Un-orderd list
									<ul>
										<li>List item 1</li>
										<li>List item 2
											<ul>
												<li>Sub-List item 2.2</li>
											</ul>
										</li>
										<li>List item 3</li>
									</ul>
								</p>

								<p>Orderd list
									<ol>
										<li>List item 1
											<ol>
												<li>Sub-List item 1.2</li>
											</ol>
										</li>
										<li>List item 2</li>
										<li>List item 3</li>
									</ol>
								</p>

							</div>
						</div>
					</div>

				</article>
				<!-- end article -->

				<!-- Start Related Articles -->
				<div class="news-related">
					<h5>Similar Articles</h5>
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<a href="#">Anatomy of the Spine</a>
							<a href="#">Nervous System</a>
							<a href="#">Different types of Spinal Stenosis</a>
							<a href="#">The most common Symptoms of a spinal injury</a>
						</div>
						<div class="col-xs-12 col-sm-6">
							<a href="#">Different types of Spinal Stenosis</a>
							<a href="#">The most common Symptoms of a spinal injury</a>
							<a href="#">Anatomy of the Spine</a>
							<a href="#">Nervous System</a>
						</div>
					</div>

				</div>


			</div>
			<!-- end feature article -->

	</div>
	<!-- end content wapper -->

</div>
<!-- end container fluid -->
{% endblock %}
{% block scripts %}
<script>

	var windowW = $(window).width();
	console.log(windowW);
	//init heights on page load
	var rightHeight = $('.textRight').height();
	var originalHeight = $('.right').outerHeight();
	var leftHeight = $('.textLeft').height();

	if(windowW > 768){

		$('.right').mouseenter(function(event) {
			//check if height is larger than tag
			if(rightHeight > originalHeight){
				$(this).addClass('over').css('height', rightHeight);
			}else{
				$(this).addClass('over');
			}

			$(this).children('span').addClass('slideRight');
		});

		$('.right').mouseleave(function(event) {
			$(this).removeClass('over').css('height', originalHeight);
			$(this).children('span').removeClass('slideRight');
		});

		$('.left').mouseenter(function(event) {
			//check if height is larger than tag
			if(rightHeight > originalHeight){
				$(this).addClass('over').css('height', leftHeight);
			}else{
				$(this).addClass('over');
			}

			$(this).children('span').addClass('slideLeft');
		});

		$('.left').mouseleave(function(event) {
			$(this).removeClass('over').css('height', originalHeight);
			$(this).children('span').removeClass('slideLeft');
		});

	}

</script>
{% endblock %}
