{% block content %}
{% include "blue-header" %}

<div class="container-fluid white-bg psn-content-wrapper">

	<div class="row">
		<div class="col-xs-12 psn-fluid-inner">

			<div class="intro-text">
				<p>Our surgeons are active members of the American Association of Neurological Surgeons, as well as other societies and associations promoting the advancement of methods to treat patients with neurological disorders and illnesses. Our physicians’ assistants are equally as involved and qualified within their field and provide patients with unsurpassed care and treatment support.</p>
			</div>

			<div class="content-wrapper newsletter-form">

				<h3>Sign up here to receive email updates with the latest Polaris and spinal wellness news.</h3>

				<div class="row">
					<form class="" action="" method="">
						<div class="col-xs-12 col-sm-6">
							<div class="form-group psn-form-group">
								<label for="email">Email Address</label>
								<input type="email" class="form-control" id="inputEmail" placeholder="Your email address">
							</div>
						</div>
						<div class="col-xs-12">
							<button type="submit" class="btn btn-default psn-submit">Submit</button>
						</div>
					</form>
				</div>



			</div> <!--  end content-wrapper -->


		</div>
	</div>

	<!-- end psn fluid inner -->
</div>
<!-- end container fluid -->
<!-- end container fluid -->
{% endblock %}
{% block scripts %}

{% endblock %}
