{% block content %}
<!-- logo header -->
<div class="container-fluid psn-fluid-nav blue-header" style="background-image:url('{{'header-bg.jpg' | asset_url'}}');">
	<div class="header-starburst">
		<img class="img-responsive" src="{{'starburst-header.png' | asset_url'}}" alt="" />
	</div>
	<h2>Second Opinions</h2>
</div>

<div class="container-fluid white-bg psn-content-wrapper">

	<div class="row">
		<div class="col-xs-12 psn-fluid-inner">

			<div class="intro-text">
				<p>Our surgeons are active members of the American Association of Neurological Surgeons, as well as other societies and associations promoting the advancement of methods to treat patients with neurological disorders and illnesses. Our physicians’ assistants are equally as involved and qualified within their field and provide patients with unsurpassed care and treatment support.</p>
			</div>

			<div class="content-wrapper blue-border">
				<h3 class="text-gold">Things to remember</h3>
			</div>


		</div>
	</div>

	<!-- end psn fluid inner -->
</div>
<!-- end container fluid -->
{% endblock %}
{% block scripts %}

{% endblock %}
