{% block content %}
{% include "blue-header" %}

<div class="container-fluid white-bg psn-content-wrapper">

	<div class="row">
		<div class="col-xs-12 psn-fluid-inner">

			<div class="intro-text">
				<p>Our surgeons are active members of the American Association of Neurological Surgeons, as well as other societies and associations promoting the advancement of methods to treat patients with neurological disorders and illnesses. Our physicians’ assistants are equally as involved and qualified within their field and provide patients with unsurpassed care and treatment support.</p>
			</div>

			<div class="content-wrapper">
				<h3 class="blue-border">Things to remember</h3>

				<div class="todo-item">

					<div class="img">
						<img src="{{'todo-item.jpg' | asset_url}}" alt="" />
					</div>
					<div class="content">
						<p>Todo item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
						<p>
							<ul class="text-gold">
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna taliqua.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna taliqua.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna taliqua.</li>
							</ul>
						</p>
					</div>

				</div>

				<div class="todo-item">

					<div class="img">
						<img src="{{'todo-item.jpg' | asset_url}}" alt="" />
					</div>
					<div class="content">
						<p>Todo item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>

				</div>

				<div class="todo-item">

					<div class="img">
						<img src="{{'todo-item.jpg' | asset_url}}" alt="" />
					</div>
					<div class="content">
						<p>Todo item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>

				</div>

				<div class="todo-item">

					<div class="img">
						<img src="{{'todo-item.jpg' | asset_url}}" alt="" />
					</div>
					<div class="content">
						<p>Todo item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>

				</div>

			</div> <!--  end content-wrapper -->


		</div>
	</div>

	<!-- end psn fluid inner -->
</div>
<!-- end container fluid -->
{% endblock %}
{% block scripts %}

{% endblock %}
