{% block styles %}
<link rel="stylesheet" href="http://gregfranko.com/jquery.selectBoxIt.js/css/jquery.selectBoxIt.css" />
{% endblock %}
{% block content %}
<div class="pattern tan-bg">
	<div class="psn-container-nav">
		<div class="content-wrapper-970">
			<img class="img-responsive" src="{{ 'service-header-lg.jpg' | asset_url }}" alt="">
		</div>
	</div>

	<div class="container-fluid content-wrapper-970">
		<div class="service-header-wrapper">
			<div class="float-box-1 white-bg">

				<div class="service-overview">
					<div class="title">
						Select a Service:
					</div>
					<select class="work-select" name="jobOffice" id="jobOffice">
							<option value="">Spine Services</option>
							<option value="1">item 1</option>
							<option value="2">item 2</option>
							<option value="3">item 3</option>
						</select>
					<h5>We provide customized procedures to treat diverse conditions and illnesses affecting the spine.</h5>
					<div class="desc">
						<p>At Polaris, we work exclusively with patients experiencing an array of spinal conditions, ranging from mild issues – such as certain disc pains or bone spurs – to more serious conditions – such as spinal stenosis and degenerative disc disease. Our team of experts has decades of experience behind its members and strives tirelessly to stay current and skilled usintg the most up to date diagnostic equipment to pinpoint the root cause of your back pain. Regardless of the condition, we have the ability to locate and treat it as effectively as possible.</p>
					</div>
				</div>
			</div>
			<div class="float-box-2">
				<div class="service-quote">
					<blockquote>
					  The spinal column is one of the most vital parts of the human body, supporting our trunks and making all of our movements possible.
					</blockquote>
				</div>
			</div>
		</div><!-- end service header-->

		<!-- Precedures Table -->
		<div class="conditions-table white-bg conditions-padding">

			<!-- Table Title -->
			<h4>Spine Procedures we offer</h4>

			<div class="row">

			  <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
			  	<a href="service-details.html">ACDF</a>
			  </div>
				<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
			  	<a href="service-details.html">Artificial Disc/Arthroplasty: Cervical</a>
			  </div>
				<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
			  	<a href="service-details.html">Artificial Disc/Arthroplasty: Cervical</a>
			  </div>

			</div>

		</div>

		<!-- Conditions Table -->
		<div class="conditions-table white-bg conditions-padding">

			<!-- Table Title -->
			<h4>Spine-related conditions</h4>

			<div class="row">

			  <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
			  	<a href="conditions-details">Back pain</a>
			  </div>
				<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
			  	<a href="conditions-details">Scoliosis</a>
			  </div>
				<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
			  	<a href="conditions-details">Spainal Stenosis</a>
			  </div>

				<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
			  	<a href="conditions-details">Herniated Discs</a>
			  </div>
				<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
			  	<a href="conditions-details">Spinal Fractures</a>
			  </div>
				<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
			  	<a href="conditions-details">Spinal Tumors</a>
			  </div>

				<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
			  	<a href="conditions-details">Radicular Problems</a>
			  </div>
				<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
			  	<a href="conditions-details">Spinal Instability</a>
			  </div>
				<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
			  	<a href="conditions-details">Spondylosis</a>
			  </div>

				<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
			  	<a href="conditions-details">Sciatica</a>
			  </div>

			</div>

		</div>

	</div><!-- end 970 wrapper -->
</div>
<!-- end container fluid -->
{% endblock %}
{% block scripts %}
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script src="http://gregfranko.com/jquery.selectBoxIt.js/js/jquery.selectBoxIt.min.js"></script>
	<script>
	(function(){

		var selectBox = $("#jobOffice").selectBoxIt({
			showFirstOption: true,
			defaultText: "Spine Services",
			downArrowIcon: "fa fa-chevron-down fa-2x",
			nativeMousedown: false,
			autowidth: true,
			showEffect: "fadeIn",
    	showEffectSpeed: 400,
    	hideEffect: "fadeOut",
    	hideEffectSpeed: 400
		});

		$("select#jobOffice").bind({
		      "open": function() {
				  // console.log("click");
		       $("#jobOfficeSelectBoxItOptions").slideDown(500, 'easeOutQuint');
		      },
		      "close": function() {
				  // console.log("cclose");
		       $( "#jobOfficeSelectBoxItOptions").fadeOut( "fast");
			  }
		});


		//Adjust the height of the spine header depending on content length
		//TODO: add responsiveness window resize
		var top = 80; //offset of content
		var margin = 30; //margin of space between elements
		var headerHeight = $('.float-box-1').height();
		console.log(headerHeight);
		//set service height
		$('.service-header-wrapper').height(headerHeight - top + margin);

	}());

	</script>
{% endblock %}
