{% block content %}
{% include "blue-header" %}
<!-- video block -->
<div class="psn-container">

	<div class="row no-margin">

		<div class="col-xs-12 no-padding">

					<!-- 16:9 aspect ratio -->
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n9BoK-gtM1o"></iframe>
				</div>
		</div>

	</div>

</div>

<div class="psn-container">
	<div class="row no-margin">

		<!-- main content -->
		<div class="col-xs-12 col-sm-12 col-md-9 col-md-push-3 no-headline psn-container-inner sidebar-align-services">

			<!-- Education -->
			<div class="text-gold">

				<div class="desc">

					<h3>Artificial Disc/Arthroplasty: Cervical</h3>

					<h2>What is Artificial Disc/Arthroplasty: Cervical?</h2>

					<p>Peachtree Neurosurgery has long been recognized as an industry leader in the area of spine and brain treatments. Non-surgical options are always explored to relieve pain and correct disorders, but when non-surgical options don’t prove effective, our surgeons employ minimally invasive procedures and customized treatment plans.</p>

					<p>Minimally invasive procedures allow us to provide the most relief with the shortest recovery time, all while maximizing mobility and speeding our patients’ return to regular activities.</p>

					<p>A cornerstone of our practice is patient education. In fact, we’ve taken great pains to pack both this site, as well as our reference site – Atlanta Spine Surgery – with information, advice, tips and guidance to help our patients feel as informed as possible</p>

					<h2>Is this the right option for me?</h2>

					<p>While an effective surgical option for many, anatomic facet replacement is not ideal for everyone. Strong candidates for the procedure have already explored at least six months of treatment options that don’t require surgery (this can vary depending on your condition and specialist’s recommendation); experience related leg pain; are between the ages of 20 and 70; suffer from spinal stenosis or degenerative disc disease affecting the nerves; and are in general good health and able to withstand the stresses of a spinal surgery.</p>

					<h2>Artificial Disc/Arthroplasty: Cervical treats these conditions:</h2>

					<div class="condition-treatment">
						<a href="conditions-details.html">Cras justo odio</a>
						<a href="conditions-details.html">Back Pain</a>
						<a href="conditions-details.html">Herniated Discs</a>
					</div>

				</div> <!-- /desc -->

			</div> <!-- /text-gold -->

			<div class="learn-section">
				<h3 class="blue-border">Learn about artificial disc replacement</h3>

				<!-- This html will likely need to change for 3rd party video feed -->
				<div class="row">
					<div class="col-xs-12">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n9BoK-gtM1o"></iframe>
						</div>
					</div>
				</div>

			</div>

			<div class="learn-section">
				<h3 class="blue-border">What to expect</h3>

				<!-- Todo: change html to singel col in umbraco -->
				<div class="row">
					<div class="col-xs-12 col-sm-12 learn-item">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n9BoK-gtM1o"></iframe>
						</div>
						<h5>Pre-Operation</h5>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
					<div class="col-xs-12 col-sm-12 learn-item">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n9BoK-gtM1o"></iframe>
						</div>
						<h5>Post-Operation</h5>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
				</div>

			</div>


		</div> <!-- /psn-container-inner -->


		<!-- sidebar -->
		<div class="col-xs-12 col-sm-12 col-md-3 col-md-pull-9 tan-bg no-padding">
			<div class="psn-sidebar-wrapper">
				<div class="sidebar-title">
					<h2>Spine Services</h2>
				</div>
				<div class="sidebar-names">
					<a class="sidebar-back" href="service.html"><i class="fa fa-chevron-left"></i>back to all services</a>
					<a href="service-details.html" class="active">ACDF</a>
					<a href="service-details.html" class="active">Artificial Disc/Arthroplasty: Cervical</a>
					<a href="service-details.html">Artificial Disc/Arthroplasty: Lumbar</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}
